@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Index";
}
<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<body>
    <div style="clear:both;"></div>
    <h3 style="text-align:center">@SharedLocalizer["Employee"]</h3>
    <div class="panel panel-primary"></div>
    <div id="custom-toolbar" class="bs-bars pull-center">
        <div class="form-group form-inline" align="center">
            <div class="input-group">
                <input id="filtername" style="font-size:12px" class="form-control input-sm" placeholder="@SharedLocalizer["Employee"]" />
            </div>
            <button id="refreshdata" class="btn btn-success btn-sm" data-toggle="popover" data-content="@SharedLocalizer["Refresh"]" data-trigger="hover"><span class="glyphicon glyphicon-refresh"></span></button>
            <div class="input-group">
                <div>
                    <a data-roleview ="EmployeeInsert"  asp-area="" asp-controller="Employee" data-toggle="popover" data-content="@SharedLocalizer["Create"]" data-trigger="hover" asp-action="Edit" asp-route-id="0" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></a>
                    <button data-roleview ="EmployeeEdit"   id="editRow" class="btn btn-primary  btn-sm" data-toggle="popover" data-content="@SharedLocalizer["Edit"]" data-trigger="hover"><span class="glyphicon glyphicon-edit"></span></button>
                </div>
            </div>
        </div>
    </div>
</body>
<div class="container ex2">
    <table id="table"
           data-toolbar="#toolbar"
           data-search="false"
           data-show-refresh="false"
           data-show-toggle="false"
           data-show-columns="false"
           data-show-export="true"
           data-detail-view="false"
           data-minimum-count-columns="2"
           data-show-pagination-switch="false"
           data-pagination="true"
           data-id-field="ID"
           data-page-list="[50,100,150,200]"
           data-show-footer="false"
           data-side-pagination="server"
           data-url="@Url.Action("GetList", "Employee")"
           data-query-params="queryParams"
           class="table table-striped">
        <thead>
            <tr>
                <th data-field="ID" data-align="center" data-valign="middle" data-sortable="true">@SharedLocalizer["ID"]</th>
                <th data-field="Name" data-align="left" data-valign="middle" data-sortable="true">@SharedLocalizer["Name"]</th>
                <th data-field="INN" data-align="center" data-valign="middle" data-sortable="true">@SharedLocalizer["INN"]</th>
                <th data-field="Occupation" data-align="left" data-valign="middle" data-sortable="true">@SharedLocalizer["Occupation"]</th>
                <th data-field="State" data-align="center" data-valign="middle" data-sortable="true">@SharedLocalizer["State"]</th>
                <th data-field="Department" data-align="left" data-valign="middle" data-sortable="true">@SharedLocalizer["Department"]</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
    {
    <environment names="Development">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/src/locale/bootstrap-table-ru-RU.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="~/lib/bootstrap-table/src/locale/bootstrap-table-ru-RU.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    </environment>
    <script type="text/javascript">
        function queryParams(params) {
            params.name = $('#filtername').val();
            return params;
        }
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                placement: 'top'
            });
            var $table = $('#table'),
                selectedrow = [];
            initTable();
            function refreshdata() {
                $('#table').bootstrapTable('refresh');
            }
            $('#refreshdata').click(function () {
                refreshdata();
            });
            $('#editRow').click(function () {
                editRow();
            });
            $('#table').on('dblclick', function () {
                editRow();
            });
            function editRow() {
                $.LoadingOverlay("show");
                window.location = "@Url.Action("Edit", "Employee")" + "/" + selectedrow;
            }
            function initTable() {
                $table.bootstrapTable({
                    pageSize: 50,
                    height: getHeight(),
                });
                $table.on('click-row.bs.table', function (e, row, $element) {
                    $('.success').removeClass('success');
                    $($element).addClass('success');
                    selectedrow = row.ID;
                });
                setTimeout(function () {
                    $table.bootstrapTable('resetView');
                }, 200);
                $(window).resize(function () {
                    $table.bootstrapTable('resetView', {
                        height: getHeight()
                    });
                });
            }
            function getHeight() {
                return $(window).height() - $('h3').outerHeight(true) * 2.5 - $('#custom-toolbar').outerHeight(true) * 2.5;
            }
        });
        $(document).keypress(function (e) {
            if (e.which == 13) {
                $("#refreshdata").click();
            }
        });
    </script>
}
