@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Index";
}
<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</environment>
<body>
    <div style="clear:both;"></div>
    <h3 style="text-align:center">@SharedLocalizer["Erkaklar Yoshi"]</h3>
    <div class="panel panel-primary"></div>
</body>
<div class="continer">
    <div id="maleage">
        <h2>Erkak yoshi</h2>
    </div>
    <div id="femaleage">
        <h2>Ayollar yoshi</h2>

    </div>
    <div id="maleeducation">
        <h2>Erkaklar ma'lumoti</h2>

    </div>
</div>
<div class="continer">
    <div id="femaleeducation">
        <h2>Ayollar ma'lumoti</h2>

    </div>
    <div id="disable">
        <h2>nogiron</h2>

    </div>
</div>
@section scripts
    {
    <environment names="Development">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/src/locale/bootstrap-table-ru-RU.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
        <script src="~/js/utility.js"></script>
        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="~/lib/bootstrap-table/src/locale/bootstrap-table-ru-RU.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="~/js/utility.js"></script>
        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </environment>
    <style>
        h2 {
            text-align: center;
            margin-right: 90px;
        }

        .continer {
            display: flex;
            justify-content: space-around;
        }
    </style>
    <script type="text/javascript">
        var maleagelist2;
        var ItemModel = function () {
            var self = this;
            self.maleagelist = ko.mapping.fromJS([]);
            self.femaleagelist = ko.mapping.fromJS([]);
            self.maleeducationlist = ko.mapping.fromJS([]);
            self.femaleeducationlist = ko.mapping.fromJS([]);
            self.disablelist = ko.mapping.fromJS([]);
            self.loaddata = function () {
                getajaxjson("@Url.Action("GetAgeDiagramList", "Helper")" + "?GenderID=1", function (data) {
                    var maleageoptions = {
                        series: data,
                        chart: {
                            height: 480,
                            width: 480,
                            type: 'pie',
                        },
                        labels: ['6 yoshgacha', '7-25 yosh', '26-50 yosh', '50- yoshdan katta'],
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    };
                    var maleage = new ApexCharts(document.querySelector("#maleage"), maleageoptions);
                    maleage.render();
                });
                getajaxjson("@Url.Action("GetAgeDiagramList", "Helper")" + "?GenderID=2", function (data) {
                    var femaleageoptions = {
                        series: data,
                        chart: {
                            height: 480,
                            width: 480,
                            type: 'pie',
                        },
                        labels: ['6 yoshgacha', '7-25 yosh', '26-50 yosh', '50- yoshdan katta'],
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    };
                    var femaleage = new ApexCharts(document.querySelector("#femaleage"), femaleageoptions);
                    femaleage.render();
                });
                getajaxjson("@Url.Action("GetEducationDiagramList", "Helper")" + "?GenderID=1", function (data) {
                    var maleeducationoptions = {
                        series: data,
                        chart: {
                            height: 500,
                            width: 500,
                            type: 'pie',
                        },
                        labels: ["O'rta", "O'rta mahsus", 'Oliy', 'Akademik'],
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    };
                    var maleeducation = new ApexCharts(document.querySelector("#maleeducation"), maleeducationoptions);
                    maleeducation.render();
                });
                getajaxjson("@Url.Action("GetEducationDiagramList", "Helper")" + "?GenderID=2", function (data) {
                    var femaleeducationoptions = {
                        series: data,
                        chart: {
                            height: 450,
                            width: 450,
                            type: 'pie',
                        },
                        labels: ["O'rta", "O'rta mahsus", 'Oliy', 'Akademik'],
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    };
                    var femaleeducation = new ApexCharts(document.querySelector("#femaleeducation"), femaleeducationoptions);
                    femaleeducation.render();
                });
                getajaxjson("@Url.Action("GetDisableDiagramList", "Helper")", function (data) {
                    var disableoptions = {
                        series: data,
                        chart: {
                            height: 400,
                            width: 400,
                            type: 'pie',
                        },
                        labels: ["Ayol", "Erkak"],
                        responsive: [{
                            breakpoint: 480,
                            options: {
                                chart: {
                                    width: 200
                                },
                                legend: {
                                    position: 'bottom'
                                }
                            }
                        }]
                    };
                    var disable = new ApexCharts(document.querySelector("#disable"), disableoptions);
                    disable.render();
                });
            };
        }

        $(document).ready(function () {
            var itemModel = new ItemModel();
            itemModel.loaddata();
            ko.applyBindings(itemModel);
        });
    </script>
}


