@using Microsoft.AspNetCore.Mvc.Localization
@using OnlineMahalla.Web.MVCClient.Extentions
@inject IViewLocalizer Localizer


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ПК "UzASBO"</title>
    @*<title>@ViewData["Title"] ПК "UzASBO"</title>*@
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-submenu/dist/css/bootstrap-submenu.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/my.css" asp-append-version="true" />
        @RenderSection("heads", required: false)
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-submenu/dist/css/bootstrap-submenu.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/my.css" asp-append-version="true" />
        @RenderSection("heads", required: false)
    </environment>
   
</head>

<body>
    <div class="wrapper">

        @if (User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:#119eda">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/logo.png" width="80" height="40" style="margin-top:-10px"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown" data-roleview="ContractorView">
                                <a href="#" class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown" data-submenu="">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>&nbsp;@Localizer["Helpers"]<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["OrganizationHelpers"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="ContractorView" tabindex="0" asp-area="" asp-controller="Contractor" asp-action="Index">@Localizer["Contractor"]</a></li>
                                            @*<li><a data-roleview="ContractView" tabindex="0" asp-area="" asp-controller="Contract" asp-action="Index">@Localizer["Contract"]</a></li>*@
                                            <li><a data-roleview="ContractView" tabindex="0" asp-area="" asp-controller="Contract" asp-action="Index">@Localizer["Contract"]</a></li>
                                            <li><a data-roleview="SubAccView" tabindex="0" asp-area="" asp-controller="SubAcc" asp-action="Index">@Localizer["SubAcc"]</a></li>
                                            <li><a data-roleview="OrganizationsSettlementAccountView" tabindex="0" asp-area="" asp-controller="OrganizationsSettlementAccount" asp-action="Index">@Localizer["OrganizationsSettlementAccount"]</a></li>
                                            <li><a data-roleview="PermanentAssetView" tabindex="0" asp-area="" asp-controller="PermanentAsset" asp-action="Index">@Localizer["PermanentAsset"]</a></li>
                                            <li><a data-roleview="InventoryHoldingView" tabindex="0" asp-area="" asp-controller="InventoryHolding" asp-action="Index">@Localizer["InventoryHolding"]</a></li>
                                            <li><a data-roleview="DepartmentView" tabindex="0" asp-area="" asp-controller="Department" asp-action="Index">@Localizer["Department"]</a></li>
                                            <li><a data-roleview="EmployeeView" tabindex="0" asp-area="" asp-controller="Employee" asp-action="Index">@Localizer["Employee"]</a></li>
                                            <li><a data-roleview="ResponsiblePersonView" tabindex="0" asp-area="" asp-controller="ResponsiblePerson" asp-action="Index">@Localizer["ResponsiblePerson"]</a>
                                            <li><a data-roleview="ChildrenView" tabindex="0" asp-area="" asp-controller="Children" asp-action="Index">@Localizer["Children"]</a></li>
                                            <li><a data-roleview="ConstantValueView" tabindex="0" asp-area="" asp-controller="ConstantValue" asp-action="Index">@Localizer["ConstantValue"]</a></li>
                                            <li><a data-roleview="IndicatorPositionEdit" tabindex="0" asp-area="" asp-controller="IndicatorPosition" asp-action="Index">@Localizer["Indicator"]</a></li>
                                            <li><a data-roleview="EmployeeView" tabindex=""></a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["GlobalHelpers"]</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="CurrencyCourseView" tabindex="0" asp-area="" asp-controller="Currency" asp-action="Index">@Localizer["Currency"]</a></li>
                                            <li><a data-roleview="CurrencyCourseView" tabindex="0" asp-area="" asp-controller="CurrencyCourse" asp-action="Index">@Localizer["CurrencyCourse"]</a></li>
                                            <li><a data-roleview="ItemOfExpenseView" tabindex="0" asp-area="" asp-controller="ItemOfExpense" asp-action="Index">@Localizer["ItemOfExpense"]</a></li>
                                            <li><a data-roleview="BankView" tabindex="0" asp-area="" asp-controller="InfoBank" asp-action="Index">@Localizer["Bank"]</a></li>
                                            <li><a data-roleview="FormaSetCommonView" tabindex="0" asp-area="" asp-controller="FormaSetCommon" asp-action="Index">@Localizer["FormaSetCommon"]</a></li>
                                            <li><a data-roleview="BREventHelperView" tabindex="0" asp-area="" asp-controller="DepartmentCode" asp-action="Index">@Localizer["DepartmentCode"]</a></li>
                                            <li><a data-roleview="FormaSetCommonView" tabindex="0" asp-area="" asp-controller="UserSettlementAccount" asp-action="Index">@Localizer["UserSettlementAccount"]</a></li>
                                            <li><a data-roleview="FormaSetCommonView" tabindex="0" asp-area="" asp-controller="Specification" asp-action="Index">@Localizer["Specification"]</a></li>
                                            <li><a data-roleview="OKONHView" tabindex="0" asp-area="" asp-controller="OKED" asp-action="Index">@Localizer["OKED"]</a></li>
                                            <li><a data-roleview="FunctionalItemOfExpenseView" tabindex="0" asp-area="" asp-controller="FunctionalItemOfExpense" asp-action="Index">@Localizer["FunctionalItemOfExpense"]</a></li>
                                            <li><a data-roleview="AccView" tabindex="0" asp-area="" asp-controller="InfoAcc" asp-action="Index">@Localizer["InfoAcc"]</a></li>
                                            <li><a data-roleview="AllowedTransactionView" tabindex="0" asp-area="" asp-controller="AllowedTransaction" asp-action="Index">@Localizer["AllowedTransaction"]</a></li>
                                            <li><a data-roleview="TreasOperDateView" tabindex="0" asp-area="" asp-controller="TreasOperDate" asp-action="Index">@Localizer["OperDate"]</a></li>
                                            <li><a data-roleview="OrganizationView" tabindex="0" asp-area="" asp-controller="GlobalHelpers" asp-action="IncomeUNC">@Localizer["IncomeUNC"]</a></li>
                                            <li><a data-roleview="BREventHelperView" tabindex="0" asp-area="" asp-controller="BREventHelper" asp-action="Index">@Localizer["BREventHelper"]</a></li>
                                            @*<li><a tabindex="0" asp-area="" asp-controller="OrganizationsDocSettAccount" asp-action="Index">@Localizer["OrganizationsDocSettAccount"]</a></li>*@
                                             <li><a data-roleview="OrganizationsDocSettAccountView" tabindex="0" asp-area="" asp-controller="OrganizationsDocSettAccount" asp-action="Index">@Localizer["OrganizationsDocSettAccount"]</a></li> 
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            @*<li class="divider"></li>*@
                            <li class="dropdown" @*data-roleview="TreasuryMemOrderView" *@>
                                <a href="#" class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown" data-submenu="">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;@Localizer["Documents"]<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["PaymentDocuments"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="PaymentOrderView" tabindex="0" asp-area="" asp-controller="PaymentOrder" asp-action="Index">@Localizer["PaymentOrder"]</a></li>
                                            <li><a data-roleview="PaymentRegistryView" tabindex="0" asp-area="" asp-controller="PaymentRegister" asp-action="SentPaymentOrder">@Localizer["SentPaymentOrder"]</a></li>
                                            <li><a data-roleview="PaymentRegistryView" tabindex="0" asp-area="" asp-controller="PaymentRegister" asp-action="Index">@Localizer["PaymentRegister"]</a></li>
                                            <li><a data-roleview="TreasuryMemOrderView" tabindex="0" asp-area="" asp-controller="TreasuryMemOrder" asp-action="Index">@Localizer["TreasuryMemOrder"]</a></li>
                                            @*<li><a data-roleview="PaymentRegistryView" tabindex="0" asp-area="" asp-controller="TreasuryMemOrderRegistry" asp-action="SentTreasuryMemOrder">@Localizer["SentTreasuryMemOrder"]</a></li>
                <li><a data-roleview="PaymentRegistryView" tabindex="0" asp-area="" asp-controller="TreasuryMemOrderRegistry" asp-action="Index">@Localizer["TreasuryMemOrderRegistry"]</a></li>*@
                                            <li><a tabindex="0" asp-area="" asp-controller="PaymentRequest" asp-action="Index">@Localizer["PaymentRequest"]</a></li>
                                            <li><a data-roleview="InpaymentView" tabindex="0" asp-area="" asp-controller="Inpayment" asp-action="Index">@Localizer["Inpayment"]</a></li>
                                            <li><a data-roleview="OnlinePaymentView" tabindex="0" asp-area="" asp-controller="OnlinePayment" asp-action="Index">@Localizer["OnlinePayment"]</a></li>
                                            <li><a data-roleview="ReturnIncomeView" tabindex="0" asp-area="" asp-controller="ReturnIncome" asp-action="Type1">@Localizer["ReturnIncomeType1"]</a></li>
                                            @*<li><a data-roleview="ReturnIncomeView" tabindex="0" asp-area="" asp-controller="ReturnIncome" asp-action="Type2">@Localizer["ReturnIncomeType2"]</a></li>*@
                                            <li><a data-roleview="Form17View" tabindex="0" asp-area="" asp-controller="Form17" asp-action="Index">@Localizer["Form17"]</a></li>
                                            @*<li class="disabled"><a tabindex="-1">Disabled action</a></li>*@
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" data-roleview="IncomeCashOrderView">
                                        <a href="#" tabindex="0">@Localizer["CashOrder"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="IncomeCashOrderView" tabindex="0" asp-area="" asp-controller="IncomeCashOrder" asp-action="Index">@Localizer["IncomeCashOrder"]</a></li>
                                            <li><a data-roleview="OutcomeCashOrderView" tabindex="0" asp-area="" asp-controller="OutcomeCashOrder" asp-action="Index">@Localizer["OutcomeCashOrder"]</a></li>
                                            <li><a data-roleview="CurrencyIncomeCashOrderView" tabindex="0" asp-area="" asp-controller="CurrencyIncomeCashOrder" asp-action="Index">@Localizer["CurrencyIncomeCashOrder"]</a></li>
                                            <li><a data-roleview="CurrencyOutcomeCashOrderView" tabindex="0" asp-area="" asp-controller="CurrencyOutcomeCashOrder" asp-action="Index">@Localizer["CurrencyOutcomeCashOrder"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" data-roleview="PermanentAssetIntakeView">
                                        <a href="#" tabindex="0">@Localizer["PermanentAssetAccounting"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="PermanentAssetIntakeView" tabindex="0" asp-area="" asp-controller="PermanentAssetIntake" asp-action="Index">@Localizer["PermanentAssetIntake"]</a></li>
                                            <li><a data-roleview="PermanentAssetIntakeUnpaidView" tabindex="0" asp-area="" asp-controller="PermanentAssetIntakeUnpaid" asp-action="Index">@Localizer["PermanentAssetIntakeUnpaid"]</a></li>
                                            <li><a data-roleview="PermanentAssetMovementFromStowegeView" tabindex="0" asp-area="" asp-controller="PermanentAssetMovementFromStowege" asp-action="Index">@Localizer["PermanentAssetMovementFromStowege"]</a></li>
                                            <li><a data-roleview="PermanentAssetMovementView" tabindex="0" asp-area="" asp-controller="PermanentAssetMovement" asp-action="Index">@Localizer["PermanentAssetMovement"]</a></li>
                                            <li><a data-roleview="PermanentAssetRetirementView" tabindex="0" asp-area="" asp-controller="PermanentAssetRetirement" asp-action="Index">@Localizer["PermanentAssetRetirement"]</a></li>
                                            <li><a data-roleview="PermanentAssetAgeingView" tabindex="0" asp-area="" asp-controller="PermanentAssetAgeing" asp-action="Index">@Localizer["PermanentAssetAgeing"]</a></li>
                                            <li><a data-roleview="PermanentAssetReappraisalView" tabindex="0" asp-area="" asp-controller="PermanentAssetReappraisal" asp-action="Index">@Localizer["PermanentAssetReappraisal"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" data-roleview="InventoryHoldingIntakeView">
                                        <a href="#" tabindex="0">@Localizer["InventoryHoldingAccounting"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="InventoryHoldingIntakeView" tabindex="0" asp-area="" asp-controller="InventoryHoldingIntake" asp-action="Index">@Localizer["InventoryHoldingIntake"]</a></li>
                                            <li><a data-roleview="InventoryHoldingIntakeUnpaidView" tabindex="0" asp-area="" asp-controller="InventoryHoldingIntakeUnpaid" asp-action="Index">@Localizer["InventoryHoldingIntakeUnpaid"]</a></li>
                                            <li><a data-roleview="InventoryHoldingMovementFromStowegeView" tabindex="0" asp-area="" asp-controller="InventoryHoldingMovementFromStowege" asp-action="Index">@Localizer["InventoryHoldingMovementFromStowege"]</a></li>
                                            <li><a data-roleview="InventoryHoldingMovementView" tabindex="0" asp-area="" asp-controller="InventoryHoldingMovement" asp-action="Index">@Localizer["InventoryHoldingMovement"]</a></li>
                                            <li><a data-roleview="InventoryHoldingRetirementView" tabindex="0" asp-area="" asp-controller="InventoryHoldingRetirement" asp-action="Index">@Localizer["InventoryHoldingRetirement"]</a></li>
                                            <li><a data-roleview="InventoryHoldingRetirementView" tabindex="0" asp-area="" asp-controller="IHOBRetirement" asp-action="Index">@Localizer["IHOBRetirement"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" data-roleview="FoodstuffIntakeView">
                                        <a href="#" tabindex="0">@Localizer["Foodstuff"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="FoodstuffIntakeView" tabindex="0" asp-area="" asp-controller="FoodstuffIntake" asp-action="Index">@Localizer["FoodstuffIntake"]</a></li>
                                            <li><a data-roleview="FoodstuffIntakeUnpaidView" tabindex="0" asp-area="" asp-controller="FoodstuffIntakeUnpaid" asp-action="Index">@Localizer["FoodstuffIntakeUnpaid"]</a></li>
                                            <li><a data-roleview="FoodstuffMovementView" tabindex="0" asp-area="" asp-controller="FoodstuffMovement" asp-action="Index">@Localizer["FoodstuffMovement"]</a></li>
                                            <li><a data-roleview="FoodstuffRetirementView" tabindex="0" asp-area="" asp-controller="FoodstuffRetirement" asp-action="Index">@Localizer["FoodstuffRetirement"]</a></li>
                                        </ul>
                                    </li>
                                    @*<li class="dropdown-header">Dropdown header</li>*@
                                    <li class="dropdown-submenu" data-roleview="DrugIntakeView">
                                        <a href="#" tabindex="0">@Localizer["Drug"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="DrugIntakeView" tabindex="0" asp-area="" asp-controller="DrugIntake" asp-action="Index">@Localizer["DrugIntake"]</a></li>
                                            <li><a data-roleview="DrugIntakeUnpaidView" tabindex="0" asp-area="" asp-controller="DrugIntakeUnpaid" asp-action="Index">@Localizer["DrugIntakeUnpaid"]</a></li>
                                            <li><a data-roleview="DrugMovementView" tabindex="0" asp-area="" asp-controller="DrugMovement" asp-action="Index">@Localizer["DrugMovement"]</a></li>
                                            <li><a data-roleview="DrugRetirementView" tabindex="0" asp-area="" asp-controller="DrugRetirement" asp-action="Index">@Localizer["DrugRetirement"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" data-roleview="GSMIntakeView">
                                        <a href="#" tabindex="0">@Localizer["GSM"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="GSMIntakeView" tabindex="0" asp-area="" asp-controller="GSMIntake" asp-action="Index">@Localizer["GSMIntake"]</a></li>
                                            <li><a data-roleview="GSMIntakeUnpaidView" tabindex="0" asp-area="" asp-controller="GSMIntakeUnpaid" asp-action="Index">@Localizer["GSMIntakeUnpaid"]</a></li>
                                            <li><a data-roleview="GSMMovementView" tabindex="0" asp-area="" asp-controller="GSMMovement" asp-action="Index">@Localizer["GSMMovement"]</a></li>
                                            <li><a data-roleview="GSMRetirementView" tabindex="0" asp-area="" asp-controller="GSMRetirement" asp-action="Index">@Localizer["GSMRetirement"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" data-roleview="PayrollSalaryView">
                                        <a href="#" tabindex="0">@Localizer["PayrollSalary"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="PayrollSalaryView" tabindex="0" asp-area="" asp-controller="PayrollSalary" asp-action="Index">@Localizer["PayrollSalary1"]</a></li>
                                            <li><a data-roleview="DepositedMoneyView" tabindex="0" asp-area="" asp-controller="DepositedMoney" asp-action="Index">@Localizer["DepositedMoney"]</a></li>
                                            <li><a data-roleview="ChargesFromSalaryView" tabindex="0" asp-area="" asp-controller="ChargesFromSalary" asp-action="Index">@Localizer["ChargesFromSalary"]</a></li>
                                            <li><a data-roleview="ExpenseReportView" tabindex="0" asp-area="" asp-controller="ExpenseReport" asp-action="Index">@Localizer["ExpenseReport"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["OtherCalculation"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="StudentContractView" tabindex="0" asp-area="" asp-controller="StudentContract" asp-action="Index">@Localizer["StudentContract"]</a></li>
                                            <li><a data-roleview="PayrollLeaseView" tabindex="0" asp-area="" asp-controller="PayrollLease" asp-action="Index">@Localizer["PayrollLease"]</a></li>
                                            <li><a data-roleview="PayrollPaidServiceCurrencyView" tabindex="0" asp-area="" asp-controller="PayrollPaidServiceCurrency" asp-action="Index">@Localizer["PayrollPaidServiceCurrency"]</a></li>
                                            <li><a data-roleview="CalculatingTaxesView" tabindex="0" asp-area="" asp-controller="CalculatingTaxes" asp-action="Index">@Localizer["CalculatingTaxes"]</a></li>
                                            <li><a data-roleview="CurrencyReappraisalView" tabindex="0" asp-area="" asp-controller="CurrencyReappraisal" asp-action="Index">@Localizer["CurrencyReappraisal"]</a></li>
                                            <li><a data-roleview="PayrollPaidContractView" tabindex="0" asp-area="" asp-controller="PayrollPaidContract" asp-action="Index">@Localizer["PayrollPaidContract"]</a></li>
                                            <li><a data-roleview="PayrollParentPaymentView" tabindex="0" asp-area="" asp-controller="PayrollParentPayment" asp-action="Index">@Localizer["PayrollParentPayment"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["Child"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="ChildrenView" tabindex="0" asp-area="" asp-controller="Children" asp-action="Index">@Localizer["Children"]</a></li>
                                            <li><a data-roleview="ChildrenMissedDaysView" tabindex="0" asp-area="" asp-controller="ChildrenMissedDays" asp-action="Index">@Localizer["ChildrenMissedDays"]</a></li>
                                            <li><a data-roleview="ChildMovementView" tabindex="0" asp-area="" asp-controller="ChildMovement" asp-action="Index">@Localizer["ChildMovement"]</a></li>
                                            <li><a data-roleview="ChildTimeSheetView" tabindex="0" asp-area="" asp-controller="ChildTimeSheet1" asp-action="Index">@Localizer["ChildTimeSheetType1"]</a></li>
                                            <li><a data-roleview="ChildTimeSheetView" tabindex="0" asp-area="" asp-controller="ChildTimeSheet2" asp-action="Index">@Localizer["ChildTimeSheetType2"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["Budget"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="BudgetView" tabindex="0" asp-area="" asp-controller="Budget" asp-action="Index">@Localizer["Budget"]</a></li>
                                            <li><a data-roleview="SentChildBudgetView" tabindex="0" asp-area="" asp-controller="Budget" asp-action="SentBudget">@Localizer["SentBudget"]</a></li>
                                            <li><a data-roleview="BudgetRegistryHeadersView" tabindex="0" asp-area="" asp-controller="Budget" asp-action="SentBudgetRegister">@Localizer["SentBudgetRegister"]</a></li>
                                            <li><a data-roleview="BudgetRegisteryView" tabindex="0" asp-area="" asp-controller="Budget" asp-action="IndexBudgetRegister">@Localizer["BudgetRegistery"]</a></li>
                                            <li><a data-roleview="MonthlyAllocationView" tabindex="0" asp-area="" asp-controller="MonthlyAllocation" asp-action="Index">@Localizer["MonthlyAllocation"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a data-roleview="WarrantView" tabindex="0" asp-area="" asp-controller="Warrant" asp-action="Index">@Localizer["Warrant"]</a>
                                    </li>
                                    
                                    <li class="dropdown">
                                        <a data-roleview="InvoiceView" tabindex="0" asp-area="" asp-controller="Invoice" asp-action="Index">@Localizer["Invoice"]</a> 
                                        @*<a href="https://invoice.uzasbo.uz/user/login" target="_blank">@Localizer["Invoice"]</a>*@
                                    </li>
                                    <li class="dropdown">
                                        <a data-roleview="CenterDemandView" tabindex="0" asp-area="" asp-controller="CenterDemand" asp-action="Index">@Localizer["CenterDemand"]</a>
                                    </li>
                                    <li class="dropdown">
                                        <a data-roleview="CenterDemandReceive" tabindex="0" asp-area="" asp-controller="CenterDemand" asp-action="ReceiveIndex">@Localizer["CenterDemandReceive"]</a>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["WriteoffService"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="WriteoffServiceView" tabindex="0" asp-area="" asp-controller="WriteoffService" asp-action="Index">@Localizer["WriteoffService"]</a></li>
                                            <li><a data-roleview="WritingOffCostServicesView" tabindex="0" asp-area="" asp-controller="WritingOffCostServices" asp-action="Index">@Localizer["WritingOffCostServices"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["FixingTransactionAndClosingtransaction"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="FixingTransactionView" tabindex="0" asp-area="" asp-controller="FixingTransaction" asp-action="Index">@Localizer["FixingTransaction"]</a></li>
                                            <li><a data-roleview="ClosingTransactionView" tabindex="0" asp-area="" asp-controller="ClosingTransaction" asp-action="Index">@Localizer["ClosingTransaction"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["Rests"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="RestsByAccountView" tabindex="0" asp-area="" asp-controller="RestsByAccount" asp-action="Index">@Localizer["RestsByAccount"]</a></li>
                                            <li><a data-roleview="RestsBySettlementAccountView" tabindex="0" asp-area="" asp-controller="RestsBySettlementAccount" asp-action="Index">@Localizer["RestsBySettlementAccount"]</a></li>
                                            <li><a data-roleview="RestsByContractorView" tabindex="0" asp-area="" asp-controller="RestsByContractor" asp-action="Index">@Localizer["RestsByContractor"]</a></li>
                                            <li><a data-roleview="RestsByEmployeeView" tabindex="0" asp-area="" asp-controller="RestsByEmployee" asp-action="Index">@Localizer["RestsByEmployee"]</a></li>
                                            <li><a data-roleview="RestsByInventoryHoldingView" tabindex="0" asp-area="" asp-controller="RestsByInventoryHolding" asp-action="Index">@Localizer["RestsByInventoryHolding"]</a></li>
                                            <li><a data-roleview="RestsByPermanentAssetView" tabindex="0" asp-area="" asp-controller="RestsByPermanentAsset" asp-action="Index">@Localizer["RestsByPermanentAsset"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["Request"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="RequestForSettlementAccountView" tabindex="0" asp-area="" asp-controller="RequestForSettlementAccount" asp-action="Index">@Localizer["RequestForSettlementAccount"]</a></li>
                                            <li><a data-roleview="RequestForChangeTreasPersonView" tabindex="0" asp-area="" asp-controller="RequestForChangeTreasPerson" asp-action="Index">@Localizer["RequestForChangeTreasPerson"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["TreasuryDocuments"]&nbsp;<b><i style="color:red">*</i></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="ProcurementPlanView" tabindex="0" asp-area="" asp-controller="ProcurementPlan" asp-action="Index">@Localizer["ProcurementPlan"]</a></li>
                                            <li><a data-roleview="CurrencyConversionView" tabindex="0" asp-area="" asp-controller="CurrencyConversion" asp-action="Index">@Localizer["CurrencyConversion"]</a></li>
                                            <li><a data-roleview="AuctionView" tabindex="0" asp-area="" asp-controller="Auction" asp-action="Index">@Localizer["Auction"]</a></li>
                                            <li><a data-roleview="RequestTradeView" tabindex="0" asp-area="" asp-controller="RequestTrade" asp-action="Index">@Localizer["RequestTrade"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a data-roleview="IndicatorEdit" tabindex="0" asp-area="" asp-controller="Indicator" asp-action="Index">@Localizer["Indicator"]</a>
                                        <a data-roleview="IndicatorReceive" tabindex="0" asp-area="" asp-controller="Indicator" asp-action="IndexReceive">@Localizer["IndicatorReceive"]</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" data-roleview="EReportModuleView">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-submenu=""><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;@Localizer["EReport"]<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a data-roleview="Forma2View" tabindex="0" asp-area="" asp-controller="Forma2" asp-action="Index">@Localizer["Forma2"]</a>
                                    <li><a data-roleview="Forma2Manage" tabindex="0" asp-area="" asp-controller="Forma2" asp-action="Index">@Localizer["Forma2"]</a>
                                    <li><a data-roleview="Forma2CentrReceive" tabindex="0" asp-area="" asp-controller="Forma2" asp-action="IndexSend">@Localizer["Forma2Send"]</a>
                                    <li><a data-roleview="Forma2TotalView" tabindex="0" asp-area="" asp-controller="Forma2Total" asp-action="Index">@Localizer["Forma2Total"]</a>
                                    <li><a data-roleview="FormaRJView" tabindex="0" asp-area="" asp-controller="FormaRJ" asp-action="Index">@Localizer["FormaRJ"]</a>
                                    <li><a data-roleview="Forma2CentrReceive" tabindex="0" asp-area="" asp-controller="FormaRJReceive" asp-action="Index">@Localizer["FormaRJReceive"]</a>
                                    <li><a data-roleview="FormaRJTotalView" tabindex="0" asp-area="" asp-controller="FormaRJTotal" asp-action="Index">@Localizer["FormaRJTotal"]</a>
                                    <li><a data-roleview="Forma2CentrView" tabindex="0" asp-area="" asp-controller="Forma2Centr" asp-action="Index">@Localizer["Forma2Centr"]</a>
                                    <li><a data-roleview="FormaFinResView" tabindex="0" asp-area="" asp-controller="FormaFinRes" asp-action="Index">@Localizer["FormaFinRes"]</a>
                                    <li><a data-roleview="FormaFinResReceive" tabindex="0" asp-area="" asp-controller="FormaFinRes" asp-action="FormaFinResReceive">@Localizer["FormaFinResReceive"]</a>
                                    <li><a data-roleview="FormaFinResTotalView" tabindex="0" asp-area="" asp-controller="FormaFinResTotal" asp-action="Index">@Localizer["FormaFinResTotal"]</a>
                                    <li><a data-roleview="Forma5View" tabindex="0" asp-area="" asp-controller="Forma5" asp-action="Index">@Localizer["Forma5"]</a>
                                    <li><a data-roleview="Forma5TotalView" tabindex="0" asp-area="" asp-controller="Forma5" asp-action="Forma5Receive">@Localizer["Forma5Receive"]</a>
                                    <li><a data-roleview="Forma5TotalView" tabindex="0" asp-area="" asp-controller="Forma5Total" asp-action="Index">@Localizer["Forma5Total"]</a>
                                    <li><a data-roleview="FormaDKView" tabindex="0" asp-area="" asp-controller="FormaDK" asp-action="Index">@Localizer["FormaDK"]</a>
                                    <li><a data-roleview="FormaDKManage" tabindex="0" asp-area="" asp-controller="FormaDK" asp-action="Index">@Localizer["FormaDK"]</a>
                                    <li><a data-roleview="FormaDKView" tabindex="0" asp-area="" asp-controller="FormaDKByAccount" asp-action="Index">@Localizer["FormaDKByAccount"]</a>
                                    <li><a data-roleview="FormaDKManage" tabindex="0" asp-area="" asp-controller="FormaDKByAccount" asp-action="Index">@Localizer["FormaDKByAccount"]</a>
                                    <li><a data-roleview="FormaDKReceive" tabindex="0" asp-area="" asp-controller="FormaDKReceive" asp-action="Index">@Localizer["FormaDKReceive"]</a>
                                    <li><a data-roleview="FormaDKTotalView" tabindex="0" asp-area="" asp-controller="FormaDKTotal" asp-action="Index">@Localizer["FormaDKTotal"]</a>
                                    <li><a data-roleview="Forma1View" tabindex="0" asp-area="" asp-controller="Forma1" asp-action="Index">@Localizer["Forma1"]</a>
                                    <li><a data-roleview="Forma1Receive" tabindex="0" asp-area="" asp-controller="Forma1" asp-action="IndexSend">@Localizer["Forma1Receive"]</a>
                                    <li><a data-roleview="Forma1TotalView" tabindex="0" asp-area="" asp-controller="Forma1Total" asp-action="Index">@Localizer["Forma1Total"]</a>
                                    <li><a data-roleview="PaymentForecastView" tabindex="0" asp-area="" asp-controller="PaymentForecast" asp-action="Index">@Localizer["PaymentForecast"]</a>
                                    <li><a data-roleview="FormaSetView" tabindex="0" asp-area="" asp-controller="FormaSet" asp-action="Index">@Localizer["FormaSet"]</a>
                                    <li><a data-roleview="FormaSetReceive" tabindex="0" asp-area="" asp-controller="FormaSet" asp-action="FormaSetReceive">@Localizer["FormaSetReceive"]</a>
                                    <li><a data-roleview="FormaSetSend" tabindex="0" asp-area="" asp-controller="FormaSet" asp-action="FormaSetSent">@Localizer["FormaSetSent"]</a>
                                    <li><a data-roleview="FormaSetRegisteryView" tabindex="0" asp-area="" asp-controller="FormaSet" asp-action="IndexRegistry">@Localizer["FormaSetRegistry"]</a>
                                    <li><a data-roleview="BudgetReceiveView" tabindex="0" asp-area="" asp-controller="Budget" asp-action="IndexBudgetReceive">@Localizer["BudgetReceive"]</a>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["BudgetRequest"]</a>
                                        <ul class="dropdown-menu">
                                            <li><a data-roleview="BudgetRequestView" tabindex="1" asp-area="" asp-controller="BudgetRequest" asp-action="Index">@Localizer["BudgetRequest1"]</a></li>
                                            <li><a data-roleview="BudgetRequestView" tabindex="2" asp-area="" asp-controller="BudgetRequestCalc" asp-action="Index">@Localizer["BudgetRequestCalc"]</a></li>
                                            <li><a data-roleview="BudgetRequestCalcRegionView" tabindex="3" asp-area="" asp-controller="BudgetRequestCalcFill" asp-action="IndexSendingBRC">@Localizer["SendingBRC"]</a></li>
                                            <li><a data-roleview="BudgetRequestCalcRegionView" tabindex="4" asp-area="" asp-controller="BudgetRequestCalcFill" asp-action="IndexRegionFill">@Localizer["RegionFill"]</a></li>
                                            @*<li><a data-roleview="BudgetRequestCalcRegionView" tabindex="5" asp-area="" asp-controller="BudgetRequestCalcFill" asp-action="IndexSendingBRC">@Localizer["SendingBRC"]&nbsp;<b><i style="color:red">@Localizer["NEW"]</i></b></a></li>
                <li><a data-roleview="BudgetRequestCalcRegionView" tabindex="6" asp-area="" asp-controller="BudgetRequestCalcFill" asp-action="IndexOblastFill">@Localizer["OblastFill"]&nbsp;<b><i style="color:red">@Localizer["NEW"]</i></b></a></li>*@

                                        </ul>
                                    </li>

                                    <!--<li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["BudgetRequestV2"]</a>
                                        <ul class="dropdown-menu">                                           
                                            <li><a data-roleview="BudgetRequestViewV2" tabindex="1" asp-area="" asp-controller="BudgetRequest" asp-action="IndexV2">@Localizer["BudgetRequestV2"]</a></li>
                                            <li><a data-roleview="BudgetRequestViewV2" tabindex="2" asp-area="" asp-controller="BudgetRequestCalc" asp-action="IndexV2">@Localizer["BudgetRequestCalcV2"]</a></li>-->
                                            @*<li><a data-roleview="BudgetRequestCalcRegionView" tabindex="3" asp-area="" asp-controller="BudgetRequestCalcFill" asp-action="IndexSendingBRC">@Localizer["SendingBRCV2"]</a></li>
                                            <li><a data-roleview="BudgetRequestCalcRegionView" tabindex="4" asp-area="" asp-controller="BudgetRequestCalcFill" asp-action="IndexRegionFill">@Localizer["RegionFillV2"]</a></li>*@
                                            @*<li><a data-roleview="BudgetRequestCalcRegionView" tabindex="5" asp-area="" asp-controller="BudgetRequestCalcFill" asp-action="IndexSendingBRC">@Localizer["SendingBRC"]&nbsp;<b><i style="color:red">@Localizer["NEW"]</i></b></a></li>
                <li><a data-roleview="BudgetRequestCalcRegionView" tabindex="6" asp-area="" asp-controller="BudgetRequestCalcFill" asp-action="IndexOblastFill">@Localizer["OblastFill"]&nbsp;<b><i style="color:red">@Localizer["NEW"]</i></b></a></li>*@

                                        <!--</ul>
                                    </li>-->
                                </ul>
                            </li>
                            <li class="dropdown" data-roleview="ReportModuleView">
                                <a href="#" class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown" data-submenu="">
                                    <i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;@Localizer["Report"]<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["AccountBook"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBook">@Localizer["AccountBook"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="CurrencyAccountBook">@Localizer["AccountBookMonetary"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountCard">@Localizer["AccountCard"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="TransactionsReport">@Localizer["PostingReport"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["PermanentAssetAccounting"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookPermanentAsset">@Localizer["PermanentAssetAccountingBook"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountWearout">@Localizer["AccountWearout"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountWearoutByDepartment">@Localizer["AccountWearoutByDepartment"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountRevaluation">@Localizer["AccounRevaluation"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AgeingAccountBookList">@Localizer["AgeingAccountBookList"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["InventoryHoldingAccounting"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookIH">@Localizer["AccountBookByIH"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="InventoryHoldingCard">@Localizer["InventoryHoldingCard"]</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["MemorialOrder"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder1" asp-route-id="1">@Localizer["MemorialOrder1"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder1" asp-route-id="2">@Localizer["MemorialOrder2"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder1" asp-route-id="3">@Localizer["MemorialOrder3"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder5">@Localizer["MemorialOrder5"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder6">@Localizer["MemorialOrder6"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder8">@Localizer["MemorialOrder8"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder9">@Localizer["MemorialOrder9"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder11">@Localizer["MemorialOrder11"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder12">@Localizer["MemorialOrder12"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder13">@Localizer["MemorialOrder13"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByChildren">@Localizer["MemorialOrder15"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder17">@Localizer["MemorialOrder17"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder18">@Localizer["MemorialOrder18"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder19">@Localizer["MemorialOrder19"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder20">@Localizer["MemorialOrder20"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder21">@Localizer["MemorialOrder21"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder22">@Localizer["MemorialOrder22"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder23">@Localizer["MemorialOrder23"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder274">@Localizer["MemorialOrderForam274"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["AccountingByArticles"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByItemOfExpense">@Localizer["AccountBookByItemOfExpense"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByItemOfExpenseAcc">@Localizer["AccountingByArticles"]</a></li>
                                        </ul>
                                    </li>
                              
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["AccountingOfDebtorsAndCreditors"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByContractor">@Localizer["AccountBookByContractor"]</a></li>                                            
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByContract">@Localizer["AccountBookByContract"]</a></li>                                            
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByStudent">@Localizer["AccountBookByStudent"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByChildren">@Localizer["AccountBookByChildren"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByEmployee">@Localizer["ByEmployee"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByContarctorAct">@Localizer["AccountBookByContarctorAct"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBookByEmployeepitaniya">@Localizer["AccountBookByEmployeepitaniya"]</a></li>
                                        </ul>
                                        <!--</li>
    </ul>-->
                             </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["ContractAccounting"]&nbsp;</a>

                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder3">@Localizer["MemorialOrder3"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder6">@Localizer["MemorialOrder6"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["RegistriesAndJournals"]&nbsp;</a>

                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="RegisterDocument">@Localizer["RegisterDocument"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="RegisterCashOrder">@Localizer["RegisterCashOrder"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="RegisterPaymentOrder">@Localizer["RegisterPaymentOrder"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="RegisterWarrant">@Localizer["RegisterWarrant"]</a></li>
                                        </ul>
                                        @*<ul class="dropdown-menu">
                    <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder3">@Localizer["MemorialOrder3"]</a></li>
                    <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="MemorialOrder6">@Localizer["MemorialOrder6"]</a></li>
                </ul>
            </li>
        </ul>*@
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["Books"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="CashBook">@Localizer["CashBook"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="LedgerListPage">@Localizer["LedgerListPage"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="LedgerListPageIndex">@Localizer["LedgerListPageIndex"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="TotalFormN292">@Localizer["TotalFormN292"]</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="#" tabindex="0">@Localizer["RegulatedReports"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="AccountBook">@Localizer["RegulatedReports1"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="FormN2">@Localizer["ReportFormN2"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="FormN2Center">@Localizer["FormN2Center"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="FormRJ">@Localizer["ReportFormRJ"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="FormTMMRJ">@Localizer["ReportFormTMMRJ"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="FormTK">@Localizer["ReportFormTK"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="FormBMMJ">@Localizer["ReportFormBMMJ"]</a></li>
@*                                            <li><a tabindex="0" asp-area="" asp-controller="Report" asp-action="Forma5">@Localizer["Forma5"]</a></li>
*@                                        </ul>
                                    </li>
                                      <li class="dropdown">
                                        <a  tabindex="0" asp-area="" asp-controller="Report" asp-action="ReportPaymentOrder">@Localizer["ReportPaymentOrder"]</a> 
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-submenu=""><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;@Localizer["TreasInfo"]&nbsp;<b></b><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu" data-roleview="TreasModuleView">
                                        <a href="#" tabindex="0">@Localizer["Information"]&nbsp;<b></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a asp-area="" asp-controller="FormN2" asp-action="Index">&nbsp;@Localizer["FormN2"]</a></li>
                                            <li><a asp-area="" asp-controller="TreasInfo" asp-action="TreasBudget">&nbsp;@Localizer["Budget"]</a></li>
                                            <li><a asp-area="" asp-controller="TreasInfo" asp-action="BankDocument">&nbsp;@Localizer["BankDocument"]</a></li>
                                            <li><a asp-area="" asp-controller="TreasInfo" asp-action="Cheque">&nbsp;@Localizer["Cheque"]</a></li>
                                            <li><a asp-area="" asp-controller="TreasInfo" asp-action="ContractRegistration">&nbsp;@Localizer["ContractRegistration"]</a></li>
                                            <li><a asp-area="" asp-controller="TreasInfo" asp-action="UzexTransaction">&nbsp;@Localizer["UzexTransactionInfo"]</a></li>
                                            <li><a asp-area="" asp-controller="TreasInfo" asp-action="UzexDeals">&nbsp;@Localizer["UzexDeals"]&nbsp;<b></b></a></li>
                                            <li><a asp-area="" asp-controller="TreasInfo" asp-action="UzexReservationOfFunds">&nbsp;@Localizer["UzexReservationOfFunds"]&nbsp;<b></b></a></li>
                                            <li><a asp-area="" asp-controller="TreasInfo" asp-action="UzexBlack">&nbsp;@Localizer["UzexBlackList"]&nbsp;<b></b></a></li>
                                            <li><a asp-area="" asp-controller="ResultETP" asp-action="ResultETPIndex">&nbsp;@Localizer["ResultETP"]&nbsp;<b></b></a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu" data-roleview="TreasIncomeDocumentView">
                                        <a href="#" tabindex="0" data-submenu="">@Localizer["UNCInformation"]&nbsp;</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="0" asp-area="" asp-controller="TreasInfo" asp-action="IncomeDocument">@Localizer["IncomeDocument"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="TreasInfo" asp-action="IncomeSplitBudget">@Localizer["IncomeSplitBudget"]</a></li>
                                            <li><a tabindex="0" asp-area="" asp-controller="TreasInfo" asp-action="IncomeSplitFund">@Localizer["IncomeSplitFund"]</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" data-roleview="Cameral">
                                <a href="#" class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown" data-submenu="">
                                    <i class="fa fa-universal-access" aria-hidden="true"></i>&nbsp;@Localizer["CameralControl"]<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a data-roleview="Cameral" tabindex="0" asp-area="" asp-controller="CameralUser" asp-action="Index">@Localizer["CameralUser"]</a></li>
                                </ul>
                            </li>
                            <li class="dropdown" data-roleview="UserView">
                                <a href="#" class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown" data-submenu="">
                                    <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;@Localizer["Manage"]<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a data-roleview="UserView" asp-area="" asp-controller="User" asp-action="Index">@Localizer["User"]</a></li>
                                    <li><a data-roleview="RoleView" asp-area="" asp-controller="Role" asp-action="Index">@Localizer["Role"]</a></li>
                                    <li><a data-roleview="OrganizationView" tabindex="0" asp-area="" asp-controller="Organization" asp-action="Index">@Localizer["Organizations"]</a></li>
                                    <li><a data-roleview="FormaDKPositionCanEdit" tabindex="0" asp-area="" asp-controller="FormaDKPositionCanEdit" asp-action="Index">@Localizer["FormaDKPositionCanEdit"]</a></li>
                                    <li><a data-roleview="RoleView" tabindex="0" asp-area="" asp-controller="OrderInfo" asp-action="Index">@Localizer["OrderInfo"]</a></li>
                                    <li><a data-roleview="OrganizationView" tabindex="0" asp-area="" asp-controller="OrganizationHeaderInfo" asp-action="Index">@Localizer["OrganizationHeaderInfo"]</a></li>
                                    <li><a data-roleview="OrganizationView" tabindex="0" asp-area="" asp-controller="OrganizationHeaderInfo" asp-action="IndexAdmin">@Localizer["Подотчетная организация(Cправочник)"]</a></li>
                                    @*<li><a data-roleview="RoleView" tabindex="0" asp-area="" asp-controller="SetCategoryTypeInfo" asp-action="Index">@Localizer["SetCategoryTypeInfo"]</a></li>*@
                                    <li class="divider"></li>
                                    <li class="dropdown">
                                        <a data-roleview="FileInView" tabindex="0" asp-area="" asp-controller="FileIn" asp-action="Index">@Localizer["FileIn"]</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown" data-roleview="FinancialAuthority">
                                <a href="#" class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown" data-submenu="">
                                    <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;@Localizer["FinancialAuthority"]<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a data-roleview="FinancialAuthority" asp-area="" asp-controller="FinancialAuthority" asp-action="IndexUsers">@Localizer["User"]</a></li>
                                    <li><a data-roleview="FinancialAuthority" tabindex="0" asp-area="" asp-controller="FinancialAuthority" asp-action="IndexOrganizations">@Localizer["Organizations"]</a></li>
                                    <li><a data-roleview="FinancialAuthority" tabindex="0" asp-area="" asp-controller="OrganizationHeaderInfo" asp-action="Index">@Localizer["OrganizationHeaderInfo"]</a></li>
                                    <li><a data-roleview="FinancialAuthority" tabindex="0" asp-area="" asp-controller="OrganizationHeaderInfo" asp-action="IndexSend">@Localizer["Подотчетная организация(Cправочник)"]</a></li>
                                </ul>
                            </li>
                            @*<li class="dropdown" data-roleview="IsContragentOrgnization">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;@Localizer["Contragent"]<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="0" asp-area="" asp-controller="ContractContragentOrgnization" asp-action="Index">@Localizer["Contract"]</a></li>
                                    <li><a tabindex="0" asp-area="" asp-controller="InvoiceContragentOrgnization" asp-action="Index">@Localizer["Invoice"]</a></li>
                                    <li><a tabindex="0" asp-area="" asp-controller="Contractor" asp-action="Profile">@Localizer["ContragentProfile"]</a></li>
                                </ul>
                            </li>*@
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="loginspan"></span><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li style="text-align:center"><b>&nbsp;<span id="usernamespan"></span></b></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="ChangePassword"><i class="fa fa-key" aria-hidden="true"></i>&nbsp;@Localizer["ChangePassword"]</a></li>
                                    <li><a asp-area="" asp-controller="Account" asp-action="LogOut">@*<img src="~/images/logout.png" width="20" height="20">*@<i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;@Localizer["SignOut"]</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
        @RenderBody()
    </div>
    
      @*<canvas class="snow" id="snow" width="1848" height="515"></canvas>*@

    <footer style="background-color:#119eda" class="fixed-bottom">
        <div class="container">
            <div class="col-md-5">
                <strong><span style="color:white">@Localizer["OpenDate"]</span></strong>
                <strong><span id="oper" style="color:white"></span></strong>
            </div>
            <div class="col-md-4">
                <a style="color:white">&copy; @DateTime.Today.Year - ПК "UzASBO"</a>
            </div>
            <div class="col-md-3 text-right">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </footer>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></button>
    <div data-roleview="CentralAccountingChild" align="right" class="item">
        <!-- Trigger the modal with a button -->
        @*<a href="#myModal" data-backdrop="static" data-keyboard="false" class="texttrigger" data-toggle="modal"><b>@SharedLocalizer["OrgList"]</b></a>*@
        <!-- Modal -->
        <div data-roleview="CentralAccountingChild" id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h4 class="modal-title" align="center"><b>@Localizer["PleaseChooseAnOrganizationForCentralizedAccounting"]</b></h4>
                        <br />
                        <div class="input-group">
                            <span class="input-group-addon input-sm" style="background-color:#119eda;color:white">@Localizer["Organizations"]</span>
                            <select id="userorganization" data-id="SelectedOrganizationID" data-label="Name" data-none-selected-text="@Localizer["PleaseSelectOne"]" data-live-search="true" class="selectpicker" data-width="280px"></select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="saveRow" class="btn btn-sm btn-primary">@Localizer["Save"]</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/gasparesganga-jquery-loading-overlay/src/loadingoverlay.js"></script>
        <script src="~/lib/bootstrap-submenu/dist/js/bootstrap-submenu.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/utility.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/gasparesganga-jquery-loading-overlay/src/loadingoverlay.min.js"></script>
        <script src="~/lib/bootstrap-submenu/dist/js/bootstrap-submenu.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/utility.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            $('[data-submenu]').submenupicker();
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <script type="text/javascript">
        $('#saveRow').click(function () { saveRow(); });
        function saveRow() {
                    bootbox.confirm({
                        message: '@Localizer["YouWantToSave"]',
                        buttons: {
                            cancel: {
                                label: '<i class="fa fa-times"></i> @Localizer["Cancel"]',
                            },
                            confirm: {
                                label: '<i class="fa fa-check"></i> @Localizer["Confirm"]',
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    headers: {
                                        Accept: "application/json",
                                        "Content-Type": "application/json; charset=utf-8",
                                    },
                                    type: "POST",
                                    url: "@Url.Action("SelectedOrg", "Account")" + "/?SelectedOrganizationID=" + $('#userorganization').val()
                                }).done(function (data, status, xhr) {
                                                    getajaxjson("@Url.Action( "GetUserInfo","User")", function (data) {
                                    logininfo = data;
                                    document.getElementById("loginspan").innerHTML = logininfo.OrgInfo;
                                    document.getElementById("usernamespan").innerHTML = logininfo.UserName + "(" + logininfo.UserID+")";
                                    localStorage.removeItem("loggeduser");
                                    localStorage.setItem("loggeduser", JSON.stringify(logininfo));
                                });
                                    //$table.bootstrapTable('refresh');
                                    $('#myModal').modal('hide');
                                })
                                    .fail(function (xhr, status, error) {
                                        alert(xhr.responseText);
                                    });
                            }
                            console.log('This was logged in the callback: ' + result);
                        }
                    });
                }
        $(document).ready(function () {

            var loggeduser = localStorage.getItem("loggeduser");
            var logininfo = {};
            var operdate = {};
            var username = '';
            if (loggeduser !== null && loggeduser !== undefined) {
                username = JSON.parse(loggeduser).UserName;
            }

            var datewrite = '';
            if (loggeduser !== null && loggeduser !== undefined) {
                datewrite = JSON.parse(loggeduser).Date;
            }
            var roles ;
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1;//January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){dd='0'+dd}
        if(mm<10){mm='0'+mm}
        var logindate=dd+''+mm+''+yyyy;

            @*if (loggeduser === null || loggeduser === undefined || username !== "@User.GetUserName()" || datewrite !== logindate) {*@

                getajaxjson("@Url.Action( "GetUserInfo","User")", function (data) {
                    logininfo = data;
                    document.getElementById("loginspan").innerHTML = logininfo.OrgInfo;
                    document.getElementById("usernamespan").innerHTML = logininfo.UserName + "(" + logininfo.UserID+")";
                    localStorage.removeItem("loggeduser");
                    localStorage.setItem("loggeduser", JSON.stringify(logininfo));
            });
            getajaxjson("@Url.Action("GetOperDateInfo", "Helper")", function (data) {
                operdate = data;
                document.getElementById("oper").innerHTML = operdate.OperDate;
            });

           var rolelinks = document.querySelectorAll('[data-roleview]');

            for (var i in rolelinks)
            if (rolelinks.hasOwnProperty(i)) {
                var roleview = rolelinks[i].getAttribute('data-roleview');
                var isinrole = logininfo.Roles.filter(function (currole) {
                    return currole.indexOf(roleview) > -1;
                });
               if (isinrole.length == 0) {
                   rolelinks[i].style.display = "none";
                   roles = 0;
               }
               if (isinrole.length > 0) {
                   roles = 1;
               }
            }
            if (roles === 0) {
                $('#myModal').modal('hide');
            }
            if (roles === 1  && logininfo.IsChildLogOut === true) {
                $('#myModal').modal('show');

            }
        });

        $(window).on('load', function () {
            createselectfromurlcomp($('#userorganization'), "@Url.Action("GetUserOrganizationList", "Helper")", false);
        });

        function reloadPage() {

            location.reload(true);

        }

    </script>
    <script>
    (function () {

	    var canvas, ctx;
	    var points = [];
	    var maxDist = 100;

	        function init() {
		        //Add on load scripts
		        canvas = document.getElementById("snow");
		        ctx = canvas.getContext("2d");
		        resizeCanvas();
		        pointFun();
		        setInterval(pointFun, 20);
		        window.addEventListener('resize', resizeCanvas, false);
	        }
	            //Particle constructor
	            function point() {
		            this.x = Math.random() * (canvas.width + maxDist) - (maxDist / 2);
		            this.y = Math.random() * (canvas.height + maxDist) - (maxDist / 2);
		            this.z = (Math.random() * 0.5) + 0.5;
		            this.vx = ((Math.random() * 2) - 0.5) * this.z;
		            this.vy = ((Math.random() * 1.5) + 1.5) * this.z;
		            this.fill = "rgba(222,228,253," + ((0.4 * Math.random()) + 0.5) + ")";
		            this.dia = ((Math.random() * 2.5) + 1.5) * this.z;
		            points.push(this);
	            }
	            //Point generator
	            function generatePoints(amount) {
		            var temp;
		            for (var i = 0; i < amount; i++) {
			            temp = new point();
		            };
		            // console.log(points);
	            }
	                //Point drawer
	                function draw(obj) {
		                ctx.beginPath();
		                ctx.strokeStyle = "transparent";
		                ctx.fillStyle = obj.fill;
		                ctx.arc(obj.x, obj.y, obj.dia, 0, 2 * Math.PI);
		                ctx.closePath();
		                ctx.stroke();
		                ctx.fill();
	                }
	                //Updates point position values
	                function update(obj) {
		                obj.x += obj.vx;
		                obj.y += obj.vy;
		                if (obj.x > canvas.width + (maxDist / 2)) {
			                obj.x = -(maxDist / 2);
		                }
		                else if (obj.xpos < -(maxDist / 2)) {
			                obj.x = canvas.width + (maxDist / 2);
		                }
		                if (obj.y > canvas.height + (maxDist / 2)) {
			                obj.y = -(maxDist / 2);
		                }
		                else if (obj.y < -(maxDist / 2)) {
			                obj.y = canvas.height + (maxDist / 2);
		                }
	                }
	                //
	            function pointFun() {
		            ctx.clearRect(0, 0, canvas.width, canvas.height);
		            for (var i = 0; i < points.length; i++) {
			            draw(points[i]);
			            update(points[i]);
		            };
	            }

	            function resizeCanvas() {
		            canvas.width = window.innerWidth;
		            canvas.height = window.innerHeight;
		            points = [];
		            generatePoints(window.innerWidth / 3);
		            pointFun();
	            }

	            //Execute when DOM has loaded
	            document.addEventListener('DOMContentLoaded', init, false);
            })();
    </script>

</body>
</html>
