@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Index";
}

<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
            background-color: #FFFFFF;
        }

        .tg .tg-s268 {
            text-align: left
        }

    .bootstrap-table .table:not(.table-condensed),
    .bootstrap-table .table:not(.table-condensed) > tbody > tr > th,
    .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th,
    .bootstrap-table .table:not(.table-condensed) > thead > tr > td,
    .bootstrap-table .table:not(.table-condensed) > tbody > tr > td,
    .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
        padding: 8px;
        white-space: nowrap;
    }

    .exchange-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
    }
</style>

<body>
    @Html.AntiForgeryToken()

    <h3 style="text-align:center">@SharedLocalizer["User"]</h3>
    <div class="panel panel-primary"></div>
    <div id="custom-toolbar" class="bs-bars pull-center">
        <div class="form-group form-inline" align="center">
            <div class="input-group" style="width:10px"></div>
            <div class="input-group" style="width:10px"></div>
            <button id="refreshdata" class="btn btn-success btn-sm" data-toggle="popover"
                    data-content="@SharedLocalizer["Refresh"]" data-trigger="hover">
                <i class="glyphicon glyphicon-refresh"></i>
            </button>
            <div class="input-group">
                <div class="btn-toolbar">
                    <div class="input-group" style="width:10px"></div>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#exampleModal">
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                    <button data-roleview="RoleEdit" id="addRow" class="btn btn-primary btn-sm" data-toggle="popover"
                            data-content="@SharedLocalizer["Create"]" data-trigger="hover">
                        <i class="fa fa-plus"></i>@*@SharedLocalizer["Edit"]*@
                    </button>
                    <div class="input-group" style="width:10px"></div>
                    <button data-roleview="RoleEdit" id="addRole" class="btn btn-primary btn-sm" data-toggle="popover"
                            data-content="@SharedLocalizer["Role"]" data-trigger="hover">
                        <i class="glyphicon glyphicon-pencil"></i>@*@SharedLocalizer["Edit"]*@
                    </button>
                    <div class="input-group" style="width:10px"></div>
                    <button data-roleview="UserEdit" id="editRow" class="btn btn-primary btn-sm" data-toggle="popover"
                            data-content="@SharedLocalizer["Edit"]" data-trigger="hover">
                        <i class="fa fa-edit"></i>@*@SharedLocalizer["Edit"]*@
                    </button>
                    <div class="input-group" style="width:10px"></div>
                    <button data-roleview="RoleDelete" id="deleteRow" type="button" class="btn btn-danger btn-sm"
                            data-toggle="popover" data-trigger="hover" data-content="@SharedLocalizer["Delete"]">
                        <i class="glyphicon glyphicon-trash"></i>@*@SharedLocalizer["Accept"]*@
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="width:500px">
                <div class="modal-content">
                    <div style="background-color:#e0e0e0" class="modal-header">
                        <button id="clos" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <b><span aria-hidden="true">&times;</span></b>
                        </button>
                        <h3 class="modal-title" style="text-align:center" id="exampleModalLabel"><b>Фильтр</b></h3>
                    </div>
                    <div style="background-color:#e0e0e0" class="form-horizontal">
                        <br>
                        <div class="form-group">
                            <label style="font-size:14px"
                                   class="col-md-4 col-xs-6 control-label">@SharedLocalizer["ID"]</label>
                            <b>
                                <input id="filterid" style="font-size:14px;width:150px"
                                       class="form-control input-sm col-md-2" type="number"
                                       placeholder="@SharedLocalizer["ID"]" />
                            </b>
                        </div>
                        <div class="form-group">
                            <label style="font-size:14px"
                                   class="col-md-4 col-xs-6 control-label">@SharedLocalizer["Name"]</label>
                            <b>
                                <input id="filtername" style="font-size:14px;width:150px"
                                       class="form-control input-sm col-md-2" placeholder="@SharedLocalizer["Name"]" />
                            </b>
                        </div>
                        <div class="form-group">
                            <label style="font-size:14px"
                                   class="col-md-4 col-xs-6 control-label">@SharedLocalizer["F.I.O."]</label>
                            <b>
                                <input id="filterfio" style="font-size:14px;width:150px"
                                       class="form-control input-sm col-md-2"
                                       placeholder="@SharedLocalizer["F.I.O."]" />
                            </b>
                        </div>
                        <div class="form-group">
                            <label style="font-size:14px"
                                   class="col-md-4 col-xs-6 control-label">@SharedLocalizer["State"]</label>
                            <b>
                                <input id="filterstate" style="font-size:14px;width:150px"
                                       class="form-control input-sm col-md-2"
                                       placeholder="@SharedLocalizer["State"]" />
                            </b>
                        </div>
                        <div class="form-group">
                            <label style="font-size:14px"
                                   class="col-md-4 col-xs-6 control-label">@SharedLocalizer["Organization"]</label>
                            <b>
                                <input id="filterorg" style="font-size:14px;width:237px"
                                       class="form-control input-sm col-md-2"
                                       placeholder="@SharedLocalizer["Organization"]" />
                            </b>
                        </div>
                        <div class="form-group">
                            <label style="font-size:14px"
                                   class="col-md-4 col-xs-6 control-label">@SharedLocalizer["INN"]</label>
                            <b>
                                <input id="filterinn" style="font-size:14px;width:237px"
                                       class="form-control input-sm col-md-2" placeholder="@SharedLocalizer["INN"]" />
                            </b>
                        </div>
                        <div class="form-group">
                            <label style="font-size:14px"
                                   class="col-md-4 col-xs-6 control-label">@SharedLocalizer["OrganizationID"]</label>
                            <b>
                                <input id="filterorgid" style="font-size:14px;width:150px"
                                       class="form-control input-sm col-md-2" type="number"
                                       placeholder="@SharedLocalizer["OrganizationID"]" />
                            </b>
                        </div>
                        <div style="text-align:center" class="modal-footer">
                            <button id="refreshdata2" class="btn-success btn-sm"
                                    type="button">
                                <span>@SharedLocalizer["ToApply"]</span>
                            </button>
                            <button id="resetdata" type="button" class="btn-primary btn-sm"
                                    style="background-color:#119eda">
                                <span>@SharedLocalizer["Reset"]</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<p></p>

<div class="container">
    <table id="table" data-toolbar="#toolbar" data-search="false" data-show-refresh="false" data-show-toggle="false"
           data-show-columns="false" data-show-export="true" data-detail-view="false" data-minimum-count-columns="2"
           data-show-pagination-switch="false" data-pagination="true" data-id-field="ID" data-page-list="[50,100,150,200]"
           data-show-footer="false" data-footer-style="footerStyle" data-side-pagination="server"
           data-url="@Url.Action("GetList", "User")" data-query-params="queryParams" class="table table-striped">
        <thead>
            <tr>
                <th data-field="ID" data-align="center" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["ID"]</th>
                <th data-field="Name" data-align="left" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["Name"]</th>
                <th data-field="DisplayName" data-align="left" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["F.I.O."]</th>
                <th data-field="State" data-align="center" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["State"]</th>
                <th data-field="VerifyEDS" data-align="center" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["VerifyEDS"]</th>
                <th data-field="INN" data-align="center" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["INN"]</th>
                <th data-field="Organization" data-align="left" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["Organization"]</th>
                <th data-field="OrganizationID" data-align="center" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["OrganizationID"]</th>
                <th data-field="LastAccessTime" data-align="left" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["LastAccessTime"]</th>
                <th data-field="LastIP" data-align="left" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["LastIP"]</th>
                <th data-field="Email" data-align="left" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["Email"]</th>
                <th data-field="DateOfModified" data-align="center" data-valign="middle" data-sortable="true"
                    data-cell-style="cellStyle">@SharedLocalizer["DateOfModified"]</th>
            </tr>
        </thead>
    </table>
</div>

<div id="editWindow" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width:1024px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center"><b>@SharedLocalizer["User"]</b></h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="panel panel-default">
                        <div align="center">
                            <div class="form-horizontal">
                                <br />
                                <div class="form-group" align="center">
                                    <div class="form-group">
                                        <form class="form-inline">
                                            <label class="col-md-2 control-label" required
                                                   style="font-size:12px;text-align:right">@SharedLocalizer["Name"]</label>
                                            <div class="col-sm-4">
                                                <input placeholder="@SharedLocalizer["Name"]"
                                                       style="font-size:15px;width:82%" data-bind="value:user.Name"
                                                       required class="text-left form-control input-sm" />
                                                <button type="button" id="btnselectdatahistoryName"
                                                        class="btn btn-group btn-sm">
                                                    <span class="glyphicon glyphicon-option-horizontal"></span>
                                                </button>
                                            </div>
                                        </form>
                                        <form class="form-inline">
                                            <label class="col-md-1 control-label"
                                                   style="font-size:12px">@SharedLocalizer["F.I.O."]</label>
                                            <div class="col-sm-4">
                                                <input placeholder="@SharedLocalizer["F.I.O."]"
                                                       style="font-size:15px;width:82%" data-bind="value:user.DisplayName"
                                                       required class="text-left form-control input-sm" />
                                                <button type="button" id="btnselectdatahistoryDisplayName"
                                                        class="btn btn-group btn-sm">
                                                    <span class="glyphicon glyphicon-option-horizontal"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-group">
                                        <form class="form-inline">
                                            <label class="col-md-2 control-label"
                                                   style="font-size:12px;text-align:right">@SharedLocalizer["OrganizationName"]</label>
                                            <div class="col-sm-4">
                                                <input disabled class="form-control input-sm"
                                                       data-bind="value:user.NeighborhoodName,valueUpdate:'afterkeydown'"
                                                       style="font-size:15px;width:82%">
                                                <button type="button" id="btnOrganization"
                                                        class="btn btn-primary btn-sm">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </div>
                                        </form>
                                        <form class="form-inline">
                                            <label class="col-md-1 control-label"
                                                   style="font-size:12px;text-align:right">@SharedLocalizer["State"]</label>
                                            <div class="col-sm-4">
                                                <select style="font-size:15px"
                                                        data-bind='options: statelist, optionsText: "DisplayName",optionsValue:"ID", optionsCaption: "@SharedLocalizer["PleaseSelectOne"]", value:user.StateID,selectPicker: {}'
                                                        data-live-search="true" class="" data-width="95%"></select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-group">
                                        <form class="form-inline">
                                            <label class="col-md-2 control-label"
                                                   style="font-size:12px;text-align:right">@SharedLocalizer["Password"]</label>
                                            <div class="col-sm-4">
                                                <input placeholder="@SharedLocalizer["Password"]"
                                                       style="font-size:15px;width:95%" data-bind="value:user.Password"
                                                       class="text-left form-control input-sm" />
                                            </div>
                                        </form>
                                        <form class="form-inline">
                                            <label class="col-md-1 control-label"
                                                   style="font-size:12px">@SharedLocalizer["ConfirmedPassword"]</label>
                                            <div class="col-sm-4">
                                                <input placeholder="@SharedLocalizer["ConfirmedPassword"]"
                                                       style="font-size:15px;width:95%"
                                                       data-bind="value:user.PasswordConfirm"
                                                       class="text-left form-control input-sm" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="form-group">
                                        <form class="form-inline">
                                            <label class="col-md-2 control-label" required
                                                   style="font-size:12px;text-align:right">@SharedLocalizer["AllowedIP"]</label>
                                            <div class="col-sm-4">
                                                <input placeholder="@SharedLocalizer["AllowedIP"]"
                                                       style="font-size:15px;width:95%" data-bind="value:user.AllowedIP"
                                                       required class="text-left form-control input-sm" />
                                            </div>
                                        </form>
                                        <form class="form-inline">
                                            <label class="col-md-1 control-label" required
                                                   style="font-size:12px;text-align:right">@SharedLocalizer["VerifyEDS"]</label>
                                            <div class="col-sm-1">
                                                <input placeholder="@SharedLocalizer["VerifyEDS"]"
                                                       style="width: 30px;align-content:center"
                                                       data-bind="user.VerifyEDS,valueUpdate:'afterkeydown'"
                                                       type="checkbox" class="form-control input-sm" />
                                            </div>
                                        </form>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <div style="align-content:center">
                                            <button type="button" data-bind="click:closewindow"
                                                    class="btn btn-default btn-sm">
                                                @SharedLocalizer["Close"]
                                            </button>
                                            <button type="button" data-bind="click:savedata"
                                                    class="btn btn-primary btn-sm">
                                                @SharedLocalizer["Save"]
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ihselectWindow" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" style="width:100%;display: flex;justify-content: center;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" align="center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@SharedLocalizer["Role"]</h4>
            </div>
            <div class="modal-body" style="display: flex;position: relative">
                <div class="form-group" style='display: flex; justify-content: center; gap: 10px; position: fixed; top: 65px;margin-left: 16px'>
                    <input class="form-control" type="text" id="nameInputRole" onkeyup="nameFilterRole()" placeholder="@SharedLocalizer["Name"]" title="@SharedLocalizer["Name"]">
                </div>
                <div class="container" style="overflow:auto;height:500px;margin-top: 30px ">
                    <table class="table table-striped table-bordered table-condensed" id='filterTableRole'>
                        <thead>
                            <tr>
                                <th style="text-align:center; position:sticky; top:-1px; width:100px">@SharedLocalizer["Select"]</th>
                                <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["ID"]</th>
                                <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["Name"]</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:user.RolesModel">
                            <!-- ko if: (1==1) -->

                            <tr>
                                <td align="center">
                                    <input type="checkbox" data-bind="checked:Check,valueUpdate:'afterkeydown'" />
                                </td>

                                <td align="left">
                                    <span data-bind='text:ID'></span>
                                </td>

                                <td align="left">
                                    <span data-bind='text:Name'></span>
                                </td>
                            </tr>
                            <!-- /ko -->

                        </tbody>
                    </table>
                </div>
                <div class='exchange-btns'>
                    <div class="row">
                        <div class="col-sm-2 col-xs-7">
                            <button id="forward" data-bind="click:savedata1" class="btn btn-primary btn-sm"
                                    data-toggle="popover" data-trigger="hover">
                                <span class="glyphicon glyphicon-triangle-right"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-7">
                            <button id="backward" data-bind="click:savedata2" class="btn btn-primary btn-sm"
                                    data-toggle="popover" data-trigger="hover">
                                <span class="glyphicon glyphicon-triangle-left"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container" style="overflow:auto;height:500px; ">
                    <div class="overflow">
                        <table class="table table-striped table-bordered table-condensed" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center; position:sticky; top:-1px; width:100px">@SharedLocalizer["Select"]</th>
                                    <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["ID"]</th>
                                    <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["Name"]</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:user.RolesModel1">
                                <!-- ko if: (1==1) -->

                                <tr>
                                    <td align="center">
                                        <input type="checkbox" data-bind="checked:Check,valueUpdate:'afterkeydown'" />
                                    </td>

                                    <td align="left">
                                        <span data-bind='text:ID'></span>
                                    </td>

                                    <td align="left">
                                        <span data-bind='text:Name'></span>
                                    </td>
                                </tr>
                                <!-- /ko -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ihselectWindow1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" style="width:100%;display: flex;justify-content: center;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" align="center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@SharedLocalizer["UNS"]</h4>
            </div>
            <div class="modal-body" style="display: flex;position: relative">
                <div class="container" style="overflow:auto;height:500px;margin-top: 30px ">
                    <div class="form-group" style='display: flex; justify-content: center; gap: 10px; position: fixed; top: 65px'>
                        <input class="form-control" type="text" id="codeInput" onkeyup="codeFilter()" placeholder="@SharedLocalizer["Code"]" title="@SharedLocalizer["Code"]">
                        <input class="form-control" type="text" id="nameInput" onkeyup="nameFilter()" placeholder="@SharedLocalizer["Name"]" title="@SharedLocalizer["Name"]">
                    </div>
                    <table class="table table-striped table-bordered table-condensed" id='filterTable'>
                        <thead>
                            <tr>
                                <th style="text-align:center; position:sticky; top:-1px; width:100px">@SharedLocalizer["Select"]</th>
                                <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["Code"]</th>
                                <th style="text-align: center; position: sticky; top: -1px; width: 500px">@SharedLocalizer["Name"]</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:user.IncomeModel">
                            <!-- ko if: (1==1) -->

                            <tr>
                                <td align="center">
                                    <input type="checkbox" data-bind="checked:Check,valueUpdate:'afterkeydown'" />
                                </td>

                                <td align="left">
                                    <span data-bind='text:Code'></span>
                                </td>

                                <td align="left">
                                    <span data-bind='text:Name'></span>
                                </td>
                            </tr>
                            <!-- /ko -->

                        </tbody>
                    </table>
                </div>
                <div class='exchange-btns'>
                    <div class="row">
                        <div class="col-sm-2 col-xs-7">
                            <button id="forward" data-bind="click:savedata3" class="btn btn-primary btn-sm"
                                    data-toggle="popover" data-trigger="hover">
                                <span class="glyphicon glyphicon-triangle-right"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-7">
                            <button id="backward" data-bind="click:savedata4" class="btn btn-primary btn-sm"
                                    data-toggle="popover" data-trigger="hover">
                                <span class="glyphicon glyphicon-triangle-left"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container" style="overflow:auto;height:500px; ">
                    <div class="overflow">
                        <table class="table table-striped table-bordered table-condensed" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center; position:sticky; top:-1px; width:100px">@SharedLocalizer["Select"]</th>
                                    <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["ID"]</th>
                                    <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["Code"]</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:user.IncomeModel1">
                                <!-- ko if: (1==1) -->

                                <tr>
                                    <td align="center">
                                        <input type="checkbox" data-bind="checked:Check,valueUpdate:'afterkeydown'" />
                                    </td>

                                    <td align="left">
                                        <span data-bind='text:ID'></span>
                                    </td>

                                    <td align="left">
                                        <span data-bind='text:Code'></span>
                                    </td>
                                </tr>
                                <!-- /ko -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ihselectWindow2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" style="width:100%;display: flex;justify-content: center;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" align="center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@SharedLocalizer["Region"]</h4>
            </div>
            <div class="modal-body" style="display: flex;">
                <div class="container" style="overflow:auto;height:500px; ">
                    <table class="table table-striped table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th style="text-align:center; position:sticky; top:-1px; width:100px">@SharedLocalizer["Select"]</th>
                                <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["Code"]</th>
                                <th style="text-align: center; position: sticky; top: -1px; width: 500px">@SharedLocalizer["Name"]</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:user.RegionModel">
                            <!-- ko if: (1==1) -->

                            <tr>
                                <td align="center">
                                    <input type="checkbox" data-bind="checked:Check,valueUpdate:'afterkeydown'" />
                                </td>

                                <td align="left">
                                    <span data-bind='text:Code'></span>
                                </td>

                                <td align="left">
                                    <span data-bind='text:Name'></span>
                                </td>
                            </tr>
                            <!-- /ko -->

                        </tbody>
                    </table>
                </div>
                <div class='exchange-btns'>
                    <div class="row">
                        <div class="col-sm-2 col-xs-7">
                            <button id="forward" data-bind="click:savedata5" class="btn btn-primary btn-sm"
                                    data-toggle="popover" data-trigger="hover">
                                <span class="glyphicon glyphicon-triangle-right"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-7">
                            <button id="backward" data-bind="click:savedata6" class="btn btn-primary btn-sm"
                                    data-toggle="popover" data-trigger="hover">
                                <span class="glyphicon glyphicon-triangle-left"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="container" style="overflow:auto;height:500px; ">
                    <div class="overflow">
                        <table class="table table-striped table-bordered table-condensed" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="text-align:center; position:sticky; top:-1px; width:100px">@SharedLocalizer["Select"]</th>
                                    <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["ID"]</th>
                                    <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["Code"]</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:user.RegionModel1">
                                <!-- ko if: (1==1) -->

                                <tr>
                                    <td align="center">
                                        <input type="checkbox" data-bind="checked:Check,valueUpdate:'afterkeydown'" />
                                    </td>

                                    <td align="left">
                                        <span data-bind='text:ID'></span>
                                    </td>

                                    <td align="left">
                                        <span data-bind='text:Code'></span>
                                    </td>
                                </tr>
                                <!-- /ko -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ihselectWindow3" class="modal fade" role="dialog">
    <div class="modal-dialog modal-xl" style="width:100%;display: flex;justify-content: center;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" align="center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@SharedLocalizer["OrganizationsSett"]</h4>
            </div>
            <div class="modal-body" style="display: flex;">
                <div class="form-group" style='display: flex; justify-content: center; gap: 10px; position: fixed; top: 65px;margin-left: 16px'>
                    <input class="form-control" type="text" id="settleInputRole" onkeyup="settleFilterRole()" placeholder="@SharedLocalizer["OrganizationsSett"]" title="@SharedLocalizer["OrganizationsSett"]">
                </div>
                <div class="container" style="overflow:auto;height:500px; margin-top: 30px">
                    <table class="table table-striped table-bordered table-condensed" id="filterTableSettle">
                        <thead>
                            <tr>
                                <th style="text-align:center;width:100px;position:sticky">
                                    <input data-bind="checked:allinvmovstowege,valueUpdate:'afterkeydown',event:{ change: changeallinvmovstowege}" type="checkbox" />
                                </th>
                                <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["ID"]</th>
                                <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["Code"]</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:user.SettlementAccount">
                            <!-- ko if: (1==1) -->

                            <tr>
                                <td align="center">
                                    <input data-bind="checked:Check,valueUpdate:'afterkeydown',event:{ change: $root.changeinvmovstowege}" type="checkbox" />
                                </td>

                                <td align="left">
                                    <span data-bind='text:ID'></span>
                                </td>

                                <td align="left">
                                    <span data-bind='text:Code'></span>
                                </td>
                            </tr>
                            <!-- /ko -->

                        </tbody>
                    </table>
                </div>
                <div class='exchange-btns'>
                    <div class="row">
                        <div class="col-sm-2 col-xs-7">
                            <button id="forward" data-bind="click:savedata7" class="btn btn-primary btn-sm"
                                    data-toggle="popover" data-trigger="hover">
                                <span class="glyphicon glyphicon-triangle-right"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-7">
                            <button id="backward" data-bind="click:savedata8" class="btn btn-primary btn-sm"
                                    data-toggle="popover" data-trigger="hover">
                                <span class="glyphicon glyphicon-triangle-left"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="container" style="overflow:auto;height:500px; margin-top: 30px">
                    <div class="overflow">
                        <div class="form-group" style='display: flex; justify-content: center; gap: 10px; position: fixed; top: 65px;margin-left: 16px'>
                        </div>

                        <div class="form-group" style='display: flex; justify-content: center; gap: 10px; position: fixed; top: 65px;margin-left: 16px'>
                            <input class="form-control" type="text" id="settleInputRole2" onkeyup="settleFilterRole2()" placeholder="@SharedLocalizer["OrganizationsSett"]" title="@SharedLocalizer["OrganizationsSett"]">
                        </div>
                        <table class="table table-striped table-bordered table-condensed" style="width:100%" id="filterTableSettle2">
                            <thead>
                                <tr>

                                    <th style="text-align:center;width:100px;position:sticky">
                                        <input data-bind="checked:allinvmovstowege1,valueUpdate:'afterkeydown',event:{ change: changeallinvmovstowege1}" type="checkbox" />
                                    </th>
                                    <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["ID"]</th>
                                    <th style="text-align: center; position: sticky; top: -1px; width: auto">@SharedLocalizer["Code"]</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach:user.SettlementAccount1">
                                <!-- ko if: (1==1) -->

                                <tr>
                                    <td align="center">
                                        <input type="checkbox" data-bind="checked:Check,valueUpdate:'afterkeydown',event:{ change: $root.changeinvmovstowege1}" />
                                    </td>

                                    <td align="left">
                                        <span data-bind='text:ID'></span>
                                    </td>

                                    <td align="left">
                                        <span data-bind='text:Code'></span>
                                    </td>
                                </tr>
                                <!-- /ko -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <environment names="Development">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
        <script src="~/lib/knockout/dist/knockout.debug.js"></script>
        <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
        <script src="~/js/utility.js"></script>
        <script src="~/js/ko.utility.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
        <script src="~/js/utility.js"></script>
        <script src="~/js/ko.utility.js"></script>
    </environment>

    <script type="text/javascript">

        let userid = 0;

        function codeFilter() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("codeInput");
            filter = input.value.toUpperCase().trim();
            table = document.getElementById("filterTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }


        function nameFilter() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("nameInput");
            filter = input.value.toUpperCase().trim();
            table = document.getElementById("filterTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function nameFilterRole() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("nameInputRole");
            filter = input.value.toUpperCase().trim();
            table = document.getElementById("filterTableRole");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function settleFilterRole() {
            var input, filter, table, trs, td, i, txtValue;
            input = document.getElementById("settleInputRole");
            filter = input.value.toUpperCase().trim();
            table = document.getElementById("filterTableSettle");
            trs = table.querySelectorAll("tbody tr");
            for (let i = 0; i < trs.length; i++) {
                if (trs[i].textContent.toUpperCase().includes(filter)) {
                    trs[i].classList.remove('hidden')
                } else {
                    trs[i].classList.add('hidden')
                }
            }
        }

        function settleFilterRole2() {
            var input, filter, table, trs, td, i, txtValue;
            input = document.getElementById("settleInputRole2");
            filter = input.value.toUpperCase().trim();
            table = document.getElementById("filterTableSettle2");
            trs = table.querySelectorAll("tbody tr");
            for (let i = 0; i < trs.length; i++) {
                if (trs[i].textContent.toUpperCase().includes(filter)) {
                    trs[i].classList.remove('hidden')
                } else {
                    trs[i].classList.add('hidden')
                }
            }
        }

        function orgInnFilterRole() {
            var input, filter, table, trs, td, i, txtValue;
            input = document.getElementById("orgInnInputRole");
            filter = input.value.toUpperCase().trim();
            table = document.getElementById("filterTableInn");
            trs = table.querySelectorAll("tbody tr");
            for (let i = 0; i < trs.length; i++) {
                if (trs[i].textContent.toUpperCase().includes(filter)) {
                    trs[i].classList.remove('hidden')
                } else {
                    trs[i].classList.add('hidden')
                }
            }
        }


        function queryParams(params) {
            params.ID = $('#filterid').val();
            params.Name = $('#filtername').val();
            params.DisplayName = $('#filterfio').val();
            params.State = $('#filterstate').val();
            params.OrganizationName = $('#filterorg').val();
            params.OrganizationINN = $('#filterinn').val();
            params.OrganizationID = $('#filterorgid').val();
            return params;
        }
        function queryParamsemp1(params) {
            return params;
        }
        function queryParamsemp2(params) {
            return params;
        }
        function queryParamsOrg(params) {
            params.INN = $('#filterOrgINN').val();
            params.ID = $('#filterOrgID').val();
            params.Name = $('#filterOrgName').val();
            params.Oblast = $('#filterOrgOblast').val();
            params.Region = $('#filterOrgRegion').val();
            return params;
        }

        function cellStyle(value, row, index) {
            if (row.State === "Пассив") {
                return {
                    css: {
                        "color": "red",
                    }
                };
            }
            if (row.LastAccessTime === "") {
                return {
                    css: {
                        "color": "grey",
                    }
                };
            }
            return {};
        }

        var ItemModel = function () {
            var self = this;
            self.user = {};
            self.statelist = ko.mapping.fromJS([]);
            self.allinvmovstowege = ko.observable(false);
            self.allinvmovstowege1 = ko.observable(false);

            self.loaddata = function (id) {
                getajaxjson("@Url.Action("Get", "User")" + "?id=" + id, function (data) {
                    ko.mapping.fromJS(data, {}, self.user);
                });
                getajaxjson("@Url.Action("GetStateList", "Helper")", function (data) {
                    ko.mapping.fromJS(data, self.statelist);
                });
            };


            self.loadrole = function (id) {
                getajaxjson("@Url.Action("GetRole", "User")" + "?id=" + id, function (data) {
                    ko.mapping.fromJS(data, {}, self.user);
                });
            };

            self.loaduns = function (id) {
                getajaxjson("@Url.Action("GetUNS", "User")" + "?id=" + id, function (data) {
                    ko.mapping.fromJS(data, {}, self.user);
                });
            };

            self.loadregion = function (id) {
                getajaxjson("@Url.Action("GetRegion", "User")" + "?id=" + id, function (data) {
                    ko.mapping.fromJS(data, {}, self.user);
                });
            };

            self.loadsettlement = function (id) {
                getajaxjson("@Url.Action("GetSettlement", "User")" + "?id=" + id, function (data) {
                    ko.mapping.fromJS(data, {}, self.user);
                });
            };

            //self.loadorg = function (id) {
            //    getajaxjson("@Url.Action("GetUserOrg", "User")" + "?id=" + id, function (data) {
            //        ko.mapping.fromJS(data, {}, self.user);
            //    });
            //};

            self.loadattachorg = function (id) {
                getajaxjson("@Url.Action("GetAttachOrg", "User")" + "?id=" + id, function (data) {
                    ko.mapping.fromJS(data, {}, self.user);
                });
            };

            self.changeallinvmovstowege = function () {
                ko.utils.arrayForEach(self.user.SettlementAccount(), function (item) {
                    item.Check(self.allinvmovstowege());
                });
            }
            self.changeallinvmovstowege1 = function () {
                ko.utils.arrayForEach(self.user.SettlementAccount1(), function (item) {
                    item.Check(self.allinvmovstowege1());
                });

            }

            self.changeinvmovstowege = function () {
                var hasnotchecket = false;
                ko.utils.arrayForEach(self.user.SettlementAccount(), function (item) {
                    if (item.Check() === false)
                        hasnotchecket = true;
                });
                if (hasnotchecket)
                    self.allinvmovstowege(false);
                else
                    self.allinvmovstowege(true);
                console.log('gffffffffffff');
            }
            self.changeinvmovstowege1 = function () {
                var hasnotchecket1 = false;
                ko.utils.arrayForEach(self.user.SettlementAccount1(), function (item) {
                    if (item.Check() === false)
                        hasnotchecket1 = true;
                });
                if (hasnotchecket1)
                    self.allinvmovstowege1(false);
                else
                    self.allinvmovstowege1(true);
            }

            self.checkdata = function () {
                if (self.user.StateID() === null || self.user.StateID() === undefined || self.user.StateID() === "") {
                    alert("@SharedLocalizer["StateNotCorrect"]");
                    return false;
                }
                if (self.user.Name() === null || self.user.Name() === undefined || self.user.Name() === "") {
                    alert("@SharedLocalizer["NameNotCorrect"]");
                    return false;
                }
                if (self.user.DisplayName() === null || self.user.DisplayName() === undefined || self.user.DisplayName() === "") {
                    alert("@SharedLocalizer["DisplayNameNotCorrect"]");
                    return false;
                }
                if (self.user.OrganizationID() === null || self.user.OrganizationID() === undefined || self.user.OrganizationID() === "") {
                    alert("@SharedLocalizer["OrganizationNotCorrect"]");
                    return false;
                }
                if (self.user.Password() !== self.user.PasswordConfirm()) {
                    alert("@SharedLocalizer["Password&PasswordConfirmIsDifferent"]");
                    return false;
                }
                return true;
            };

            self.savedata = function () {
                if (!self.checkdata()) {
                    return;
                }
                var datatosave = ko.mapping.toJSON(self.user);
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8"
                    },
                    type: "POST",
                    url: "@Url.Action("Update", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#editWindow").modal('hide');
                    $('#table').bootstrapTable('refresh');
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText + " Error:" + error);
                    });
            };

            self.closewindow = function () {
                $("#editWindow").modal('hide');
                $('#table').bootstrapTable('refresh');
            };

            self.savedata1 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateRole", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    self.loadrole(userid);
                    $("#ihselectWindow").modal('show');

                })
                    .fail(function (xhr, status, error) {
                        //alert(xhr.responseText);
                    });
            };

            self.savedata2 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateRole1", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    self.loadrole(userid);
                    $("#ihselectWindow").modal('show');
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata3 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateUNS", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow1").modal('show');
                    self.loaduns(userid);
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata4 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateUNS1", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow1").modal('show');
                    self.loaduns(userid);
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata5 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateRegion", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow2").modal('show');
                    self.loadregion(userid);
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata6 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateRegion1", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow2").modal('show');
                    self.loadregion(userid);
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata7 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateSettlementAccount", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow3").modal('show');
                    self.loadsettlement(userid);
                    self.allinvmovstowege(false);
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata8 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateSettlementAccount1", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow3").modal('show');
                    self.loadsettlement(userid);
                    self.allinvmovstowege1(false);

                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata9 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateUserOrg", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow4").modal('show');
                    self.loadorg(userid);
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata10 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateUserOrg1", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow4").modal('show');
                    self.loadorg(userid);
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata11 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateUserAttachOrg", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow5").modal('show');
                    self.loadattachorg(userid);
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            self.savedata12 = function () {

                var datatosave = JSON.stringify(ko.toJS(self.user), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("UpdateUserAttachOrg1", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#ihselectWindow5").modal('show');
                    self.loadattachorg(userid);
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };


        }

        $(document).ready(function () {
            var $table = $('#table');
            var $tablemodule1 = $('#tableLeftModuleSelect');
            var $tablemodule2 = $('#tableRightModuleSelect');
            var $tableorganization = $('#organizationWindow');

            selectedrow = [];

            function refreshdata() {
                filter = 1;
                $table.bootstrapTable('refresh');
            }

            function resetdata() {
                $('#filterid').val(0);
                $('#filtername').val('');
                $('#filterfio').val('');
                $('#filterstate').val('');
                $('#filterorg').val('');
                $('#filterinn').val('');
                $('#filterorgid').val(0);
            }

            function clos() {
                $('#exampleModal').modal('hide');
            }

            initTable();
            var itemModel = new ItemModel();
            itemModel.loaddata(0);
            ko.applyBindings(itemModel);
            selectedorgrow = [];
            selectedid = [];


            $('#clos').click(function () { clos(); });

            $('#tableOrganization').bootstrapTable({ height: 450 });

            $('#tableDataHistorySelect').bootstrapTable({ height: 450 });

            $('#deleteRow').click(function () {
                deleteRow();
            });
            $('#refreshdata').click(function () {
                $('#table').bootstrapTable('refresh');
            });
            $('#refreshdata2').click(function () {
                refreshdata();
                clos();
            });

            $('#resetdata').click(function () {
                resetdata();
            });

            $('#addRow').click(function () {
                editRow(0);
            });

            $('#editRow').click(function () { editRow(selectedrow); });

            $('#addRole').click(function () {
                $("#ihselectWindow").modal('show');
                itemModel.loadrole(selectedrow);
                //ko.applyBindings(itemModel);
            });

            var selectedRows = '';


            $('#table').on('dblclick', function () { editRow(); });



            $('#btnselectdatahistoryName').click(function (value) {
                $('#tableDataHistorySelect').bootstrapTable('resetSearch');
                $('#tableDataHistorySelect').bootstrapTable('refresh', { url: "@Url.Action("GetTableDataHistory", "Helper")" + "\?DataID=" + itemModel.user.ID() + "&TableID=200&ColumnName=" + "Name" });
                $("#datahistoryselectWindow").modal('show');
            });

            $('#btnselectdatahistoryDisplayName').click(function (value) {
                $('#tableDataHistorySelect').bootstrapTable('resetSearch');
                $('#tableDataHistorySelect').bootstrapTable('refresh', { url: "@Url.Action("GetTableDataHistory", "Helper")" + "\?DataID=" + itemModel.user.ID() + "&TableID=200&ColumnName=" + "DisplayName" });
                $("#datahistoryselectWindow").modal('show');
            });

            $('#btnOrganization').click(function () {
                $('#tableOrganization').bootstrapTable('resetSearch');
                $('#tableOrganization').bootstrapTable('refresh', { url: "@Url.Action("GetList", "Organization")" });
                $('#organizationWindow').modal('show');
            });

            $('#tableOrganization').on('dblclick', function () {
                itemModel.user.OrganizationID(selectedorgrow.ID);
                itemModel.user.OrganizationName(selectedorgrow.Name);
                itemModel.user.DisplayName(selectedorgrow.Accounter);
                $("#organizationWindow").modal('hide');
            });
            $('#btnorganizationselect').click(function () {
                itemModel.user.OrganizationID(selectedorgrow.ID);
                itemModel.user.OrganizationName(selectedorgrow.Name);
                itemModel.user.DisplayName(selectedorgrow.Accounter);
                $("#organizationWindow").modal('hide');
            });
            $('#refreshorgdata').click(function () {
                refreshorgdata();
            });

            function refreshorgdata() {
                $('#tableOrganization').bootstrapTable('refresh');
            }

            self.savedata = function () {
                if (!self.checkdata()) {
                    return;
                }
                var datatosave = ko.mapping.toJSON(self.user);
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8"
                    },
                    type: "POST",
                    url: "@Url.Action("Update", "User")",
                    data: datatosave
                }).done(function (data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    $("#editWindow").modal('hide');
                    $('#table').bootstrapTable('refresh');
                })
                    .fail(function (xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };

            function initTable() {
                $table.bootstrapTable({
                    pageSize: 50,
                    height: getHeight()
                });
                $table.on('click-row.bs.table', function (e, row, $element) {
                    $('.success').removeClass('success');
                    $($element).addClass('success');
                    selectedrow = row.ID;
                    selectedid = row.ID;
                    userid = row.ID;
                });
                $table.on('load-error.bs.table', function (e, status, res) {
                    alert(res.responseText);
                });
                $tablemodule1.on('click-row.bs.table', function (e, row, $element) {
                    $('.success').removeClass('success');
                    $($element).addClass('success');
                    selectedrow = row.ID;
                });
                $tablemodule1.on('load-error.bs.table', function (e, status, res) {
                    alert(res.responseText);
                });
                $tablemodule2.on('click-row.bs.table', function (e, row, $element) {
                    $('.success').removeClass('success');
                    $($element).addClass('success');
                    selectedrow = row.ID;
                });
                $tablemodule2.on('load-error.bs.table', function (e, status, res) {
                    alert(res.responseText);
                });

                $tableorganization.on('click-row.bs.table', function (e, row, $element) {
                    $('.success').removeClass('success');
                    $($element).addClass('success');
                    selectedorgrow = row;
                });
                $tableorganization.on('load-error.bs.table', function (e, status, res) {
                    alert(res.responseText);
                });

                // sometimes footer render error.

                setTimeout(function () {
                    $table.bootstrapTable('resetView');
                }, 200);

                $(window).resize(function () {
                    $table.bootstrapTable('resetView', {
                        height: getHeight()
                    });
                });
            }
            function getHeight() {
                return $(window).height() - $('h3').outerHeight(true) * 2.5 - $('#custom-toolbar').outerHeight(true) * 2.5;
            }
            function editRow(id) {
                itemModel.loaddata(id);
                $("#editWindow").modal('show');
            }

            function deleteRow() {
                bootbox.confirm({
                    message: '@SharedLocalizer["YouWantToDelete"]',
                    buttons: {
                        cancel: {
                            label: '<i class="fa fa-times"></i> @SharedLocalizer["Cancel"]',
                            className: 'btn-danger'
                        },
                        confirm: {
                            label: '<i class="fa fa-check"></i> @SharedLocalizer["Confirm"]',
                            className: 'btn-success'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                headers: {
                                    Accept: "application/json",
                                    "Content-Type": "application/json; charset=utf-8",
                                },
                                type: "DELETE",
                                url: "@Url.Action("Delete", "User")" + "/" + selectedrow
                            }).done(function (data, status, xhr) {
                                alert("@SharedLocalizer["SavedSuccessfully"]");
                                $table.bootstrapTable('refresh')
                            })
                                .fail(function (xhr, status, error) {
                                    alert("Error:" + error + " Message:" + xhr.responseText);
                                });
                        }
                    }
                });
            }
        });
        $(document).keypress(function (e) {
            if (e.which == 13) {
                $("#refreshdata").click();
                $('#exampleModal').modal('hide');
            }
        });
    </script>


}
