@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Create";
}
<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>

<div class="panel panel-primary"></div>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title" style="text-align:center"><b>@SharedLocalizer["Fuqaro"]</b></h2>
            </div>
            <div class="form-horizontal">
                <br />
                <div class="form-group">
                    <label class="col-md-1 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["Ism"]</label>
                    <div class="col-md-2">
                        <input placeholder="@SharedLocalizer["Ism"]" data-bind="value:citizen.FirstName,valueUpdate:'afterkeydown'" required class="form-control input-sm" maxlength="50" style="max-width:inherit" />
                    </div>
                    <label class="col-md-1 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["Familiya"]</label>
                    <div class="col-md-2 col-md-offset-1" align="left" style="margin-left:-1px;padding-left:0px">
                        <input placeholder="@SharedLocalizer["Familiya"]" data-bind="value:citizen.FamilyName,valueUpdate:'afterkeydown'" required class="form-control input-sm" maxlength="50" style="max-width:inherit" />
                    </div>
                    <label class="col-md-1 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["Otasining ismi"]</label>
                    <div class="col-md-1">
                        <input placeholder="@SharedLocalizer["Surname"]" data-bind="value:citizen.LastName,valueUpdate:'afterkeydown'" required class="form-control input-sm" maxlength="100" style="max-width:inherit" />
                    </div>
                    <label class="col-md-1 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["JSHSHIR"]</label>
                    <div class="col-md-2">
                        <input placeholder="@SharedLocalizer["PINFL"]" data-bind="value:citizen.PINFL,valueUpdate:'afterkeydown'" required class="form-control input-sm" maxlength="100" style="max-width:inherit" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 col-xs-6 control-label" required style="font-size:13px;text-align:right">@SharedLocalizer["Tug'ilgan sanasi"]</label>
                    <div class="col-md-1 col-xs-4">
                        <input placeholder="@SharedLocalizer["DateOfBirthday"]" data-bind="value:citizen.DateOfBirthday,valueUpdate:'afterkeydown'" required class="form-control input-sm" data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-autoclose="true" data-date-language="ru" />
                    </div>
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Millati"]</label>
                    <div class="col-md-2">
                        <select data-bind='options: nationlist, optionsText: "DisplayName",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.NationID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Jinsi"]</label>
                    <div class="col-sm-1">
                        <select data-bind='options: genderlist, optionsText: "DisplayName",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.GenderID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Ma'lumoti"]</label>
                    <div class="col-sm-2">
                        <select data-bind='options: educationlist, optionsText: "DisplayName",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.EducationID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Akademik darajasi"]</label>
                    <div class="col-sm-2">
                        <select data-bind='options: academicdegreelist, optionsText: "DisplayName",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.AcademicDegreeID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Oilasi"]</label>
                    <div class="col-sm-2">
                        <select data-bind='options: marriedlist, optionsText: "Name",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.MarriedID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Akademik unvoni"]</label>
                    <div class="col-sm-2">
                        <select data-bind='options: academictitlelist, optionsText: "Name",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.AcademicTitleID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>

                </div>
            </div>
            <div class="form-horizontal">
                <br />
                <div class="form-group">
                    <label class="col-md-1 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["Telefon raqam"]</label>
                    <div class="col-md-2">
                        <input placeholder="@SharedLocalizer["Telefon raqam"]" data-bind="value:citizen.PhoneNumber,valueUpdate:'afterkeydown'" required class="form-control input-sm" maxlength="50" style="max-width:inherit" />
                    </div>
                    <label class="col-md-1 col-xs-6 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["Chetel Fuqarosi"]</label>
                    <div class="col-md-1 col-xs-1">
                        <input placeholder="@SharedLocalizer["Chetel Fuqarosi"]" style="width: 30px" data-bind="checked:citizen.IsForeignCitizen,valueUpdate:'afterkeydown'" type="checkbox" class="form-control input-sm" />
                    </div>
                    <label class="col-md-1 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["Bolalar soni"]</label>
                    <div class="col-md-1">
                        <input placeholder="@SharedLocalizer["Bolalar soni"]" data-bind="value:citizen.CountChild,valueUpdate:'afterkeydown'" required class="form-control input-sm" maxlength="100" style="max-width:inherit" />
                    </div>
                    <label class="col-md-1 col-xs-6 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["Sudlangan"]</label>
                    <div class="col-md-1 col-xs-1">
                        <input placeholder="@SharedLocalizer["Sudlangan"]" style="width: 30px" data-bind="checked:citizen.IsConvicted,valueUpdate:'afterkeydown'" type="checkbox" class="form-control input-sm" />
                    </div>
                    <label class="col-md-1 col-xs-6 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["Kamtaminlangan"]</label>
                    <div class="col-md-1 col-xs-1">
                        <input placeholder="@SharedLocalizer["Kamtaminlangan"]" style="width: 30px" data-bind="checked:citizen.IsLowIncome,valueUpdate:'afterkeydown'" type="checkbox" class="form-control input-sm" />
                    </div>
                   
                </div>
                <div class="form-group">
                     <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Fuqaroning bandligi"]</label>
                    <div class="col-sm-2">
                        <select data-bind='options: citizenemploymentlist, optionsText: "DisplayName",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.CitizenEmploymentID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Tug'ilgan Viloyati"]</label>
                    <div class="col-sm-2">
                        <select data-bind='options: regionlist, optionsText: "Name",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.BirthdayRegionID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Tug'ilgan viloyati"]</label>
                    <div class="col-sm-2">
                        <select data-bind='options: districtlist, optionsText: "Name",optionsValue:"ID", optionsCaption: "@SharedLocalizer["PleaseSelectOne"]", value:citizen.BirthdayDistrictID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                    
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label" style="font-size:13px;text-align:right">@SharedLocalizer["Tug'ilgan joyi"]</label>
                    <div class="col-md-3">
                        <input placeholder="@SharedLocalizer["Tug'ilgan joyi"]" data-bind="value:citizen.BirthPlace,valueUpdate:'afterkeydown'" required class="form-control input-sm" maxlength="50" style="max-width:inherit" />
                    </div>
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Holati"]</label>
                    <div class="col-sm-1">
                        <select data-bind='options: statelist, optionsText: "DisplayName",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.StateID,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                    <label class="col-md-1 control-label" required style="font-size:13px">@SharedLocalizer["Oilasi turi"]</label>
                    <div class="col-sm-2">
                        <select data-bind='options: typeoffamilylist, optionsText: "DisplayName",optionsValue:"ID", optionsCaption: "@SharedLocalizer["Tanlang"]", value:citizen.MemberTypeFamilyId,selectPicker: {}' data-live-search="true" class="" data-width="100%"> </select>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<br />
<div class="form-horizontal">
    <div class="form-group">
        <div align="center">
            <button type="button" data-bind="click:checkdata" class="btn btn-primary btn-sm"> @SharedLocalizer["Tekshirish"]</button>
            <button type="button" data-bind="click:savedata" class="btn btn-primary btn-sm"> @SharedLocalizer["Saqlash"]</button>
            <a asp-controller="Citizen" asp-action="Index" class="btn btn-default btn-sm">@SharedLocalizer["Orqaga"]</a>
        </div>
    </div>
</div>
<!-- Modal Select DataHistory -->
<div id="datahistoryselectWindow" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@SharedLocalizer["DataHistory"]</h4>
            </div>
            <p></p>
            <div class="modal-body">
                <div class="container">
                    <table id="tableDataHistorySelect"
                           data-search="false"
                           data-show-refresh="false"
                           data-show-toggle="false"
                           data-show-columns="false"
                           data-show-export="true"
                           data-pagination="true"
                           data-page-list="[50,100,150,200]"
                           data-detail-view="false"
                           data-minimum-count-columns="2"
                           data-show-pagination-switch="false"
                           data-side-pagination="server"
                           data-query-params="queryParams"
                           data-id-field="ID">
                        <thead>
                            <tr>
                                <th data-field="Value" data-sortable="true">@SharedLocalizer["Value"]</th>
                                <th data-field="DateOfCreated" data-sortable="true">@SharedLocalizer["DateOfCreated"]</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Close"]</button>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <environment names="Development">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
        <script src="~/lib/knockout/dist/knockout.debug.js"></script>
        <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap-table/dist/bootstrap-table.min.js"></script>
        <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js"></script>
        <script src="~/lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/knockout-mapping/knockout.mapping.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js"></script>
    </environment>

    <script type="text/javascript">

        var ItemModel = function() {
            var self = this;
            self.citizen = {};
            self.statelist = ko.mapping.fromJS([]);
            self.nationlist = ko.mapping.fromJS([]);
            self.educationlist = ko.mapping.fromJS([]);
            self.genderlist = ko.mapping.fromJS([]);
            self.academicdegreelist = ko.mapping.fromJS([]);
            self.marriedlist = ko.mapping.fromJS([]);
            self.academictitlelist = ko.mapping.fromJS([]);
            self.citizenemploymentlist = ko.mapping.fromJS([]);
            self.regionlist = ko.mapping.fromJS([]);
            self.districtlist = ko.mapping.fromJS([]);
            self.typeoffamilylist = ko.mapping.fromJS([]);

            self.loaddata = function() {

                getajaxjson("@Url.Action("Get", "Citizen", new { ID=ViewBag.ID})", function(data) {
                    ko.mapping.fromJS(data, {}, self.citizen);
                });
                getajaxjson("@Url.Action("GetStateList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.statelist);
                });
                getajaxjson("@Url.Action("GetNationList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.nationlist);
                });
                getajaxjson("@Url.Action("GetEducationList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.educationlist);
                });
                getajaxjson("@Url.Action("GetGenderList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.genderlist);
                });
                getajaxjson("@Url.Action("GetAcademicDegreeList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.academicdegreelist);
                });
                getajaxjson("@Url.Action("GetMarriedList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.marriedlist);
                });
                getajaxjson("@Url.Action("GetAcademicTitleList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.academictitlelist);
                });
                getajaxjson("@Url.Action("GetCitizenEmploymentList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.citizenemploymentlist);
                });
                getajaxjson("@Url.Action("GetRegionList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.regionlist);
                });
                getajaxjson("@Url.Action("GetDistrictList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.districtlist);
                });
                getajaxjson("@Url.Action("GetMemberTypeFamilyList", "Helper")", function(data) {
                    ko.mapping.fromJS(data, self.typeoffamilylist);
                });
            };
            self.checkdata = function() {
                if (self.citizen.FirstName === null || self.citizen.FirstName === undefined || self.citizen.FirstName === 0 || self.citizen.FirstName === '' || self.citizen.FirstName === "") {
                    alert("@SharedLocalizer["NameNotSelected"]");
                    console.log(self.citizen.FirstName);
                    return false;
                }
                return true;
            };
            self.savedata = function() {
                if (!self.checkdata()) {
                    return;
                }
                var datatosave = JSON.stringify(ko.toJS(self.citizen), null, 2)
                $.ajax({
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    type: "POST",
                    url: "@Url.Action("Update", "Citizen")",
                    data: datatosave
                }).done(function(data, status, xhr) {
                    alert("@SharedLocalizer["SavedSuccessfully"]");
                    window.location.href = "@Url.Action("Index", "Citizen")";
                })
                    .fail(function(xhr, status, error) {
                        alert(xhr.responseText);
                    });
            };
            ko.bindingHandlers.selectPicker = {
                after: ['options'],   /* KO 3.0 feature to ensure binding execution order */
                init: function(element, valueAccessor, allBindingsAccessor) {
                    var $element = $(element);
                    $element.addClass('selectpicker').selectpicker();

                    var doRefresh = function() {
                        $element.selectpicker('refresh');
                    }, subscriptions = [];

                    var addSubscription = function(bindingKey) {
                        var targetObs = allBindingsAccessor.get(bindingKey);

                        if (targetObs && ko.isObservable(targetObs)) {
                            subscriptions.push(targetObs.subscribe(doRefresh));
                        }
                    };
                    addSubscription('options');
                    addSubscription('value');           // Single
                    addSubscription('selectedOptions'); // Multiple
                    ko.utils.domNodeDisposal.addDisposeCallback(element, function() {
                        while (subscriptions.length) {
                            subscriptions.pop().dispose();
                        }
                    });
                },
                update: function(element, valueAccessor, allBindingsAccessor) {
                }
            };
        }

        function getajaxjson(apiurl, handleData) {
            $.ajax({
                headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json; charset=utf-8",
                },
                type: "GET",
                async: false,
                url: apiurl,
            }).done(function(data, status, xhr) {
                handleData(data);
            })
                .fail(function(xhr, status, error) {
                    alert(xhr.responseText);
                });
        }

        $(document).ready(function() {
            var itemModel = new ItemModel();
            itemModel.loaddata();
            ko.applyBindings(itemModel);

            $('#tableDataHistorySelect').bootstrapTable({ height: 500 });

            function refreshdata() {
                $('#tableDataHistorySelect').bootstrapTable('refresh');
            }
            $('#refreshdata').click(function() {
                refreshdata();
            });

            $('#btnselectdatahistoryDepartment').click(function(value) {
                $('#tableDataHistorySelect').bootstrapTable('resetSearch');
                $('#tableDataHistorySelect').bootstrapTable('refresh', { url: "@Url.Action("GetTableDataHistory", "Helper")" + "\?DataID=" + itemModel.citizen.ID() + "&TableID=177&ColumnName=" + "DepartmentID" });
                $("#datahistoryselectWindow").modal('show');
            });


        });
    </script>
}


